<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />


    <!-- index.css-->
    <link rel="stylesheet" href="/css/index.css">
    <!-- join.css-->
    <link rel="stylesheet" href="/css/user/index_join.css">

    <link rel="stylesheet" href="/css/index_login.css">


    <!-- index.js   -->
    <script src="/js/index.js" defer> </script>

    <!-- join.js   -->
    <script src="/js/user/index_join.js" defer> </script>




</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="fragments/header :: mainHeaderFragment" />

    <!-- nav       -->
    <th:block th:insert="~{fragments/nav :: albumNavFragment}" />

    <main>
        <section class="banner">

        </section>
    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="fragments/footer :: footerFragment" />
    </footer>

</div>




</body>
</html>