<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />


    <!--  myinfo.css  -->
    <link rel="stylesheet" href="/css/user/myinfo.css">



</head>
<body>


    <div class="wrapper">

        <!-- header   -->
        <th:block th:insert="~{fragments/header :: headerFragment}" />

        <!-- nav       -->
        <th:block th:insert="~{fragments/nav :: albumNavFragment}" />



        <main>

            <section class="layout-5 breadcrumb-block">
                <div class="">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">
                                <span class="material-symbols-outlined" style="font-size:.8rem;">홈</span>
                            </a></li>
                            <li class="breadcrumb-item active" aria-current="page">나의정보</li>
                        </ol>
                    </nav>
                </div>
            </section>

            <section class="read myinfoblock layout-5">

<!--                &lt;!&ndash; aside                &ndash;&gt;-->
<!--                <th:block th:insert="fragments/myaside :: myasideFragment" />-->



                <th:block th:insert="~{fragments/myaside :: myasideFragment}" />



                <div class="" style="width : 350px; margin : 0 auto;">
                    <div class="body">
                        <form class="mypageform" name="mypageform" action="" method="post"  onsubmit="return false">
                            <div class="m-1">
                                <label>이메일계정</label>&nbsp;&nbsp;
                                <input name="usernmae" class="form-control" th:value="${dto.username}" readonly>
                            </div>
                            <div class="m-1">
                                <label>이름</label>
                                <input name="nickname" class="form-control" th:value="${dto.nickname}" readonly>
                            </div>
                            <div class="m-1">
                                <label>연락처</label>
                                <input name="phone" class="form-control" th:value="${dto.phone}" readonly>
                            </div>
                            <div class="m-1">
                                <label>은행</label>
                                <div style="display:flex;">
                                    <input name="bankname" class="form-control zipcode" th:value="${dto.bankname}" readonly>
                                </div>
                            </div>
                            <div class="m-1">
                                <label>계좌번호</label>
                                <div style="display:flex;">
                                    <input name="account" class="form-control zipcode" th:value="${dto.account}" readonly>
                                </div>
                            </div>
                            <div class="m-1">
                                <label>우편번호</label>
                                <div style="display:flex;">
                                    <input name="zipcode" class="form-control zipcode" th:value="${dto.zipcode}" readonly>
                                </div>
                            </div>
                            <div class="m-1">
                                <label>기본 주소</label>
                                <input name="addr1" class="form-control addr1" th:value="${dto.addr1}" readonly>
                            </div>
                            <div class="m-1 mb-2">
                                <label>상세 주소 </label>
                                <input name="addr2" class="form-control" th:value="${dto.addr2}" readonly>
                            </div>
                            <div class="m-1" style="display:flex;justify-content : space-between;">
                                <a href="/user/myinfo/update" class="btn btn-success w-50 me-1">수정요청</a>
                                <a href="/" class="btn btn-secondary w-50 ms-1">메인화면</a>
                            </div>

                        </form>
                    </div>
                </div>

            </section>
        </main>

        <footer>
            <th:block th:insert="~{fragments/footer :: footerFragment}" />
        </footer>

    </div>





</body>
</html>