<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />


    <link rel="stylesheet" href="/css/admin/main.css">

    <script src="/js/admin/main.js" defer> </script>


</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="~{fragments/header :: mainHeaderFragment}" />

    <!-- nav       -->
    <th:block th:insert="~{fragments/nav :: navFragment}" />
    <div>
        //-----------
        1 통계
        총 접속수
        일별 접속수
        월별 접속수
        접속 IP 조회
        //-----------
        //-----------
        2 설정
        이메일 key 지정
        결제 key 설정
        로고 변경
        //-----------
        3 경매

        //-----------
        //-----------
        4 공지
        공지사항
        //-----------
    </div>

    <main>
        <section class="banner">
            <div class="menu">
                <div>
                    <label for="menu01">메뉴 1</label>
                    <input type="checkbox" class="menu-check" id="menu01" />
                    <div>

                    </div>
                </div>
                <div>
                    <label for="menu01">메뉴 1</label>
                    <input type="checkbox" class="menu-check" id="menu02" />
                    <div>

                    </div>
                </div>
            </div>
            <div class="body">

            </div>
        </section>
    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="~{fragments/footer :: footerFragment}" />
    </footer>

</div>




</body>
</html>