<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />


    <link rel="stylesheet" href="/css/admin/settings.css">

    <script src="/js/admin/settings.js" defer> </script>

    <!--  chartjs  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script th:inline="javascript">
        let totalConnectionList = [[${totalConnectionList}]]
        console.log('totalConnectionList',totalConnectionList);
        const totalUsertotalConnectionList = totalConnectionList.map(el => {
            return {
                username: el.username,
                count: el.count,
                today: el.today
            };
        });
        //유저별 접속 총 COUNT 계산
        const aggregatedUserList = totalConnectionList.reduce((acc, curr) => {
            const found = acc.find(item => item.username === curr.username);
            if (found) {
                found.count += curr.count;
            } else {
                acc.push({ username: curr.username, count: curr.count });
            }
            return acc;
        }, []);
        console.log('totalConnectionList_mofied',totalConnectionList);

        const totalUser =  aggregatedUserList.map(el=>el.username);
        const totalCountPerUser =  aggregatedUserList.map(el=>el.count);
        console.log('totalUser',totalUser);
        console.log('totalCountPerUser',totalCountPerUser);


        //자바스크립트 주간 접속현황 처리
        const weeklyConnectionList = [[${weeklyConnectionList}]];
        console.log('weeklyConnectionList',weeklyConnectionList);

        const result = weeklyConnectionList.reduce((acc, current) => {
            const { username, count } = current;
            if (!acc[username]) {
                acc[username] = { username, count: 0 };
            }
            acc[username].count += count;
            return acc;
        }, {});

        const resultArray = Object.values(result);

        console.log("resultArray",resultArray);


    </script>
</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="~{fragments/header :: mainHeaderFragment}" />

    <!-- nav       -->
    <th:block th:insert="~{fragments/nav :: navFragment}" />

    <main class="layout-5">
        <section class="banner mt-5 layout-5">
            <h3>관리자 페이지</h3>
            <hr>
            <h4>접속 현황</h4>
            <div class="dashboard">
                <div class="totalPerDay left">
                    <h6 class="mt-2 mb-2">유저별 총 접속 현황</h6>
                    <canvas id="totalPerDay"></canvas>
                </div>
                <div class="right">
                    <h6 class="mt-2 mb-2">주간 접속 현황</h6>
                    <canvas id="totalPerWeek"></canvas>
                </div>
            </div>
            <hr>
            <h4>API DOCUMENT</h4>&nbsp; <a style="background-color:darkcyan" class="btn" target="_blank" href="/swagger-ui/index.html">바로가기</a>

            <hr>
            <h4>경매 환경 설정</h4>
            <div class="">
                경매 최대 접속 인원 설정 : <br>
            </div>

            <hr>
            <h4>업로드 환경 설정</h4>
            <div>
                유저 이미지 최대 허용 개수 : <br>
                음악 파일 최대 허용 개수 : <br>
            </div>

            <hr>
            <h4>관리자 KEY 설정</h4>
            <div>
                회원 가입 이메일 전송 KEY : <br>
                결제 사용 KEY(PORTONE) : <br>
            </div>
            <hr>
            <div>
                <pre style="text-align:3rem;">
                        추가할 항목들...
                        1.일별 총 접속현황
                        2 월별 총 접속현황
                        3 메일전송에 사용되는 KEYCODE 값 변경 / 가이드 페이지 제작
                        4 결제처리에 사용되는 KEYCODE 값 변경 / 가이드 페이지 제작
                </pre>
            </div>
        </section>
    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="~{fragments/footer :: footerFragment}" />
    </footer>

</div>




</body>
</html>