:root{
    color : lightgray;
    font-size : .8rem;
}
.layout-5
{
    padding :  0 5%;
}
.room-block a{
    color : lightgray;
    font-size : 1rem;
}
.room-block>section.auction-block{
    width :100%;
    height : 750px;


    display:flex;
    justify-content: center;
    align-items: start;
    gap:20px;
    flex-wrap : wrap;

}
.room-block>section.auction-block>*{

}

.room-block .center>*{
    width : 100%;
}


.room-block .center .image-block{
    height : 200px;

    display:flex;
    justify-content: center;
    align-items : center;
    padding : 10px;
    margin-bottom : 25px;
}
.room-block .center .image-block img{
    width : 100%;
    height : 100%;
    object-fit: contain;
}
.room-block .center{
    width : 400px;
    height : 95%;
    padding : 15px;


    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    border : 1px solid;
}


.room-block .center .show-item{

    width : 100%;
    height : 35px;
    padding : 5px;

    text-align:center;
   /* border : 1px solid;*/
    overflow : hidden;
    border : 1px solid;
}
.room-block .center .show-item .chat{
    height : 95%;
    position:relative;
    overflow : hidden;

}
.room-block .center .show-item>*{
    margin-bottom : 10px;
    width : 100%;
}
.room-block .center .status{

    width : 100%;

}
.room-block .center .status .now-price{
    width : 100%;


}


.room-block .center .user-call{
}
.room-block .center .user-call>*{
}


.room-block .right{
    width :400px;
    height : 95%;
    padding : 5px;
    font-size : .9rem;
    position:relative;
    padding : 15px;
    border : 1px solid;
    background-color : rgb(25,25,25);
}
.room-block .right .controller{
    display:flex;
    justify-content: space-between;;
    align-items : center;
}
.room-block .right .user-block{
    padding : 5px;

    display:flex;
    justify-content: space-between;
    align-items :center;
    flex-direction:column;
    margin : 10px;
    position:absolute;
    left:-10px;
    top:25px;
    border : 1px solid;
    border : 1px solid;

}
.room-block .right .user-block .user-item{
    padding : 5px;
    margin : 5px;
    display:flex;
    justify-content: space-between;
    align-items : center;
    position:relative;

    border : 1px solid;
}
.room-block .right .user-block .user-item>*{

    margin : 5px;
    height : 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    width : 50px;
    background-color : lightgray;
    border-radius : 3px;
    border : 1px solid;
    font-size : .8rem;



}
.room-block .right .user-block .user-item>.profile-image{
    width : 35px;
    height : 35px;;
    background : white;
    border : 1px solid;
}
.room-block .right .user-block .user-item>.profile-image img{
    width : 100%;
    height :100%;
    border-radius:50%;
    border-radius : 50%;

}
.room-block .right .user-block .user-item>.username{

    position:absolute;
    left:0px;
    top : -13px;
    font-size : .8rem;
    width : 100px;
    height : 15px;


}
.room-block .right .user-block .user-item>.control{
    display:flex;
    justify-content: center;
    align-items: center;



}

.person-group-block{
    position:relative;
}
.person-group-block .cur{
    position:absolute;
    bottom:0;
    right:-15;
    font-size : .8rem;
    font-weight : 800;
}


.hidden{
    display:none !important;
}
.right .material-symbols-outlined{
    font-size : 1.5rem;
}
.right  .table{
    margin-bottom : 10px;
}
.right .table th,
.right .table td{
    border : 0px;
    text-align:center;
    font-size :.8rem;
}

.right table{
    border : 1px solid;

}



.now-price .table{

}



.right .auction_status{
    width :100%;
    height : 25px;
    margin-bottom :5px;
    font-size : .8rem;
    padding : 2px;

    display:flex;
    justify-content : left;
    align-items : center;
    position:absolute;;
    top:-25px;
    left : 0;
}
.right .auction_status>*{
    margin-right:10px;
}
.right .auction_status .circle_status{
    display:block;
    width : 10px;
    height : 10px;
    border : 1px solid;
    border-radius :50%;
}

.pending{
    background-color:gray;
}
.start{
    background-color:green;
}
.end{
    background-color:royalblue;
}
.cancel{
    background-color:red;
}



.center table{
    width : 100%;
    border : 1px solid gray;
    margin-bottom : 20px;

}
.center table th,
.center table td
{
    min-height:35px;
    line-height : 35px;
    background-color:transparent;
    font-size : .8rem;
    text-align:center;
    border : 1px solid gray;
}
.center table th{
    background-color : rgb(15,15,15);

}

td .btn{
    background-color:darkcyan;
    font-size : .7rem;
}
.center table td  input{
    font-size : .7rem;
    background-color:rgb(25,25,25);
    outline:0px;
    border : 0px;
    width : 95%;
}
.center table td  input:focus{
    background-color:rgb(45,45,45);
}
.modal{
    color : gray;
}
.right th{
    background-color:darkcyan !important;
}