

section{

}




/*SWIPER*/
.local-map-block .show-image-block{

    position : relative;
    left:0%;
    top: 0px;
    height : 80px;
    width : 100%;
    border : 1px solid gray;
    z-index : 8888;
    /*background-color : white;*/
}

.show-image-block .images-block{}
.show-image-block .images-block{
    height : 100%;
}
.show-image-block .images-block .swiper{
    width : 100%;
    height : 100%;
    background-color:darkcyan;

}
.show-image-block .images-block .swiper .swiper-wrapper{
    display:flex;
    justify-content : center;
    align-items : center;

    transition-timing-function: linear;
}
.show-image-block .images-block .swiper .swiper-slide{
    width : 100px;
    height : 50px;
    border : 1px solid;
    margin : 5px;
    background-color:white;

}
.show-image-block .images-block .swiper .swiper-slide:hover{

}
.show-image-block .images-block .swiper .swiper-slide img{
    width :  100px;
    height : 50px;
}


.local-map-block{
    margin-top : 20px;
}
.show-block{
    display:flex;
    justify-content :space-between;
    align-items : start;
    flex-wrap : wrap;
    gap : 20px;
}

section #map{
    width : 20vw;
    max-width : 500px;
    height :50vh;
    max-height : 600px;

    position:relative;
    z-index:1;
}
.show-block .table-block{
    width : 70vw;
    max-width : calc(100vw - 550px);
    font-size : .9rem;
}

.info.leaflet-control{
    display:block;
    position:relative;
    left:-30px;
    top:10px;
    width : 120px;
    margin :0px;
    height :55px;

    display:flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    background-color :transparent;
    color : lightgray;
}

.show-block .table-block .material-symbols-outlined {
     font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
        ;
        font-size : 1rem;
}

.show-block .table-block td{
    font-size : .8rem;
}

.show-block .table-block .table-body{
    display:flex;
    justify-content : left;
    align-items:center;
    flex-wrap : wrap;
    gap : 15px;

    width : 100%;
    min-width : 200px;
}
.show-block .table-block .table-body .item{
    width : calc(20% - 15px);
    overflow : hidden;
    margin-bottom : 35px;

    display:flex;
    justify-content : center;
    align-items :center;
    flex-direction:column;

    position:relative;
}
.show-block .table-block .table-body .item img{
    width : 100%;
    height : 100%;
    object-fit :contain;
    transition:.3s;
}
.show-block .table-block .table-body .item img:hover{
    transform:scale(1.2);
}

.localname{
    font-size : clamp(1rem,3vw,1.5rem);
}

.table-body .info{
    align-items : center;
    justify-content : space-between;
    display:flex;
    color : lightgray;
    font-size : .7rem;
    position:relative;
    width : 100%;
    bottom : 0px;
    height : 25px;
    background-color:#0a0b17;
    padding : 5px !important;
    border-radius  : 0 !important;
    z-index : 555;

}

.table-body .info .left{
    width : 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-body .info .right{
    display:flex;
    justify-content : right;
    align-items : center;
    min-width : 60px;
}
.table-body .info .right>div{
    text-align:right;
    min-width:30px;
}