.join_block{
    width : 300px;
    margin:0px auto;
}
.join_block label{
    font-size : .8rem;
}



/**/
.sendEmailIdForm{
   display:flex;
   justify-content : center;
   align-items : center;

}
.sendEmailIdForm>*{
    margin: 5px;
}
.sendEmailIdForm a{
    width : 80px;
}



.emailCodeForm>div{
        display:flex;
        justify-content : center;
        align-items : center;
}


.emailCodeForm>div>*{
    margin: 5px;
}
.emailCodeForm a{
    width : 80px;
}

.hidden{
    display:none;
}


.hide {
    display: none;
}


.email_auth_block{
    width : 200px;
    height : 55px;
    border : 1px solid gary;

    position : absolute;
    top:-77px;
    right:0;

    padding : 5px;
    display : flex;
    justify-content : center;
    align-items : center;

    font-size : .7rem;

    background-color :white;
    z-index : 5;

    display:none;

    box-shadow : 3px 3px 3px lightgrey;;
}
.email_auth_block::after{
    content:"";
    display : block;
    position:absolute;
    left:75%;
    top:53px;
    z-index : -1;

    font-size : 1rem;
    border-top:15px solid lightgray;
    border-bottom:15px solid transparent;
    border-left:15px solid transparent;
    border-right:15px solid transparent;

    display:none;
}

.email_auth_block input::placeholder{
    font-size : .7rem;
}
.email_auth_block input{
    font-size : .7rem;
}
.email_auth_block>div{
    display :flex;
    justify-content : center;
    align-items : center;
}
.email_auth_block>div a{
    width : 65px;

    font-size :.7rem;

    display:flex;
    justify-content : center;
    align-items : center;
}
.offcanvas-header{
    display:flex;
    justify-content : right;
}