main{
    /*                      display:flex;
                          justify-content:left;
                          align-items:start;
   */

}
.right{
    width : 100%;
}
.sub-menu{
    position:relative;
    width : 100%;
    height : 40px;
    line-height:40px;
    background-color : green;
    opacity:0.5;
    font-size:0.9rem;

}
.sub-menu ul{
    list-style : none;
    padding : 0px;
    display:flex;
    justify-content : left;
    align-items : center;

}
.sub-menu ul li{
    width : 120px;
    height : 40px;
    line-height:40px;
    text-align:center;

}
.sub-menu ul li a{
    text-decoration : none;
    color : white;
    display:block;
}
.sub-menu ul li a:hover{


}

/* */
.myinfoblock{
    display:flex;
    justify-content : left;
    align-items : start;
    width : 100%;
}
myinfoblock>*{
    margin-left:50px;
}
.mymenu{
    width : 150px;
    padding : 15px;
    display:flex;
    justify-content : center;
    align-items : start;
    font-size : .8rem;
}
.mymenu>.menu{
    /*border : 1px solid darkcyan;*/
    padding : 5px;
    margin-right : 30px;
}
.mymenu>.menu>li{
    width : 150px;
    line-height : 35px;
    padding 10px 5px;
    margin : 5px;
/*
    box-shadow : 5px 5px 5px lightgray;
*/
    text-align:center;

    border : 1px solid;
}

.mymenu>.menu>li:nth-chile(1){
    height : 100%;
}

.mymenu>.menu>li>a{
    display:block;
    height : 35px;
    color : gray;
}
.mymenu>.menu>li>.submenu{
    padding :5px;
    border-top : 1px dotted lightgray;
    margin-top : 5px;
    display:none;
}
.mymenu>.menu>li>.submenu>li{
    padding : 2px;
    margin : 2px;
    /*box-shadow : 5px 5px 5px lightgray;*/
    height : 35px;
}
.mymenu>.menu>li>.submenu>li>a{
    display:block;
    color : gray;
}
.mymenu>.menu>li:hover .submenu{
    display:block;

}
.mymenu>.menu>li>a:hover{
    color : white;
}
.mymenu>.menu>li>.submenu>li>a:hover{
    color : white;
}
/**/
.myinfoblock{
    width:100%;
    margin:0px auto;
    position:relative;
    z-index:2;
    flex-grow: 1;
}
.myinfoblock>.header{
    text-align:center;
    margin-bottom:20px;
}
.myinfoblock>.body{}

.myinfoblock>.body label{
    font-size:0.8rem;
}
.myinfoblock>.body>.joinform>*{
    margin-bottom:5px;
}


.mypageform label{
    font-size : .8rem;
    margin-bottom : 2px;
}

.btn{
    margin-top:2px;
    margin-bottom:2px;
    font-size : .8rem;
}


