main{
    height : 100vh;
}
.right{
    width : 100%;
}
.sub-menu{
    position:relative;
    width : 100%;
    height : 40px;
    line-height:40px;
    background-color : green;
    opacity:0.5;
    font-size:0.9rem;

}
.sub-menu ul{
    list-style : none;
    padding : 0px;
    display:flex;
    justify-content : left;
    align-items : center;

}
.sub-menu ul li{
    width : 120px;
    height : 40px;
    line-height:40px;
    text-align:center;

}
.sub-menu ul li a{
    text-decoration : none;
    color : white;
    display:block;
}
.sub-menu ul li a:hover{


}

/* */
.myinfoblock{
    display:flex;
    justify-content : left;
    align-items : start;
    width : 100%;
    gap : 50px;
}
myinfoblock>*{
    margin-left:50px;
}
.mymenu{
    width : 200px;
    display:flex;
    justify-content : left;
    align-items : start;
    font-size : .8rem;
}
.mymenu>.menu{
    /*border : 1px solid darkcyan;*/


}
.mymenu>.menu>li{
    width : 150px;
    line-height : 35px;
    padding 10px 5px;
    margin : 5px;
    text-align:center;
    border : 1px solid;
}
.mymenu>.menu>li:nth-chile(1){
    height : 100%;
}
.mymenu>.menu>li>a{
    display:block;
    height : 35px;
    color : gray;
}
.mymenu>.menu>li>.submenu{
    padding :5px;
    border-top : 1px dotted lightgray;
    margin-top : 5px;
    display:none;
}
.mymenu>.menu>li>.submenu>li{
    padding : 2px;
    margin : 2px;
    /*box-shadow : 5px 5px 5px lightgray;*/
    height : 35px;
}
.mymenu>.menu>li>.submenu>li>a{
    display:block;
    color : gray;
}
.mymenu>.menu>li:hover .submenu{
    display:block;

}
.mymenu>.menu>li>a:hover{
    color : white;
}
.mymenu>.menu>li>.submenu>li>a:hover{
    color : white;
}
/**/
.myinfoblock{
    width:100%;
    margin:0px auto;
    position:relative;
    z-index:2;
    flex-grow: 1;
}
.myinfoblock>.header{
    text-align:center;
    margin-bottom:20px;
}
.myinfoblock>.body{}

.myinfoblock>.body label{
    font-size:0.8rem;
}
.myinfoblock>.body>.joinform>*{
    margin-bottom:5px;
}


.mypageform label{
    font-size : .8rem;
    margin-bottom : 2px;
}

.btn{
    margin-top:2px;
    margin-bottom:2px;
    font-size : .8rem;
}


.table{
    border-left : 1px solid gray;
    border-right : 1px solid gray;

}
.table td{
    border-top : 1px solid gray;
    border-bottom : 1px solid gray;
    color : lightgray;
    background-color : transparent;
    text-align:center;
}
.table td input{

    color : gray;
    outline : 0;
    border : 0;
}
.info_body{
    display : flex;
    justify-content : left;
    align-items : start;
    gap:20px;
}
.info_body .profile{
    min-width : 200px;
    height : 50vh;
    padding : 10px;
    display:flex;
    justify-content : start;
    align-items : center;
    gap:20px;
    flex-direction:column;

}
.info_body .profile .image{
    width :180px;
    height :180px;
    border : 1px solid gray;
    border-radius :50%;
    margin-bottom : 25px;
}

.info_body .profile .image img{
    width : 100%;
    height : 100%;
    border-radius :50%;

    display:flex;
    justify-content : center;
    align-items : center;
}
.info_body .profile .change-btn{
    text-align:center;
}

.table td{
    position:relative;

}
.table td span{
}
.table td input:focus+span{
    display:none;
}