<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />

    <link rel="stylesheet" href="/css/board/read.css">

    <script src="/js/board/reply.js" defer></script>
</head>
<body>

<div class="wrapper">


    <!-- header   -->
    <th:block th:insert="fragments/header :: headerFragment" />

    <!-- nav       -->
    <th:block th:insert="fragments/nav :: navFragment" />

    <div class="layout-5">
        <!-- breadcrumb -->
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb  mt-2">
                <li class="breadcrumb-item"><a class="text-secondary" href="#">홈</a></li>
                <li class="breadcrumb-item"><a class="text-secondary" href="#">자유게시판</a></li>
                <li class="breadcrumb-item"><a class="text-secondary" href="#">리스트</a></li>
                <li class="breadcrumb-item active" aria-current="page">읽기</li>
            </ol>
        </nav>
        <!-- title -->
    </div>
    <main class="layout-5">
        <section class="row">

            <!-- aside mple bg-secondary col-2" style="height:90vh;width:200px;" >
                <div class="btn-group-vertical p-3" role="group" aria-label="Vertical button group">

                    <button type="button" class="btn btn-dark m-1" style="width:150px;">MENU1</button>
                    <button type="button" class="btn btn-dark m-1" style="width:150px;">MENU2</button>
                    <button type="button" class="btn btn-dark m-1" style="width:150px;">MENU3</button>
                    <button type="button" class="btn btn-dark m-1" style="width:150px;">MENU4</button>
                    <button type="button" class="btn btn-dark m-1" style="width:150px;">MENU5</button>
                    <button type="button" class="btn btn-dark m-1" style="width:150px;">MENU6</button>

                </div>
            </div>
            -->

            <!-- contents -->
            <div class="m-3"></div>

            <div class="col contents">

                <table class="table w-100" style="font-size :.8rem;text-align:center;">
                    <tbody>
                    <input type="hidden" name="no" class="bno" th:value="${boardDto.no}">
                        <tr>
                            <td class="text-light" style="width:200px;background-color:darkcyan">제목</td>
                            <td   th:text="${boardDto.title}"  style="width:400px;border-right:0"></td>
                            <td style="border-right:0;border-left:0;"></td>
                            <td style="border-left:0;"></td>
                        </tr>
                        <tr>
                            <td class=" text-light" style="background-color:darkcyan">작성자</td>
                            <td th:text="${boardDto.username}"></td>
                            <td class=" text-light" style="width:200px;background-color:darkcyan">조회수</td>
                            <td th:text="${boardDto.count}"></td>
                        </tr>
                        <tr>
                            <td colspan="4" class=" text-light" style="background-color:darkcyan">내용</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <textarea style="background-color:rgb(15,15,15);color:white;border:0;outline:0;"   name="" id="" cols="30" rows="10" readonly th:text="${boardDto.content}" class="form-control w-100"></textarea>
                            </td>
                        </tr>
                        <tr>

                            <td colspan="4">
                                <a  class="btn btn-secondary update_btn m-1" style="font-size:.8rem;background-color:darkcyan" th:href="@{/board/update(no=${boardDto.no},pageNo=${pageNo})}">수정하기</a>
                                <a  class="btn btn-secondary delete_btn m-1"  style="font-size:.8rem;background-color:darkcyan" th:data-no="${boardDto.no}" >삭제하기</a>
                                <a  th:href="@{/board/list(pageNo=${pageNo})}"  style="font-size:.8rem"  class="btn btn-secondary m-1">이전으로</a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="right">
            <div>
                <h5>댓글 <span style="font-size  :1rem;" th:text="${replyCount}">  </span> <span style="font-size  :1rem;"> 건</span></h5>
            </div>
            <div class="control">
                <div style="width : 580px;"><textarea style="background-color:rgb(35,35,35);color:lightgray;border:0;outline:0;" class=" form-control content-area" name="" placeholder="입력하세요" ></textarea></div>
                <div style=""><a href="javascript:void(0)" class="btn reply_add_btn" style="background-color:darkcyan;color:white;" >등록</a></div>
            </div>
            <hr>
            <div>
                <div class="reply-block">
                    <div class="item mb-3" th:each="reply:${replyList}">
                        <div  class="header">
                            <div  style="font-size:.8rem;" th:text="${reply.user.username}"></div>
                            <div  style="font-size:.6rem;" th:text="${#temporals.format(reply.regdate, 'yyyy-MM-dd HH:mm:ss')}"></div>

                        </div>
                        <hr>
                        <div>
                            <div style="font-size:.6rem;">내용 : </div>
                            <div style="margin-top : 5px;" th:text="${reply.content}"></div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <!-- Footer        -->
    <footer>
        <th:block th:insert="fragments/footer :: footerFragment" />
    </footer>

</div>



<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- common.js   -->
<script src="/js/common.js"></script>

<script>


//----------------------------------------------------------------
//
//----------------------------------------------------------------
const deleteBtn = document.querySelector('.delete_btn');
deleteBtn.addEventListener('click',function(){
    console.log("111");
    const no = deleteBtn.getAttribute('data-no');
    axios.delete(`/board/delete?no=${no}`)
    .then(resp=>{
        console.log(resp);
        alert(resp.data.message);
        location.href="/board/list";
    })
    .catch(err=>{
        console.log(err);
        alert(err.response.data.message);
    });
});




</script>

</body>
</html>