<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
-->

    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />


    <link rel="stylesheet" href="/css/myinfo/confirm.css">

    <script src="/js/myinfo/confirm.js" defer> </script>


</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="~{fragments/header :: mainHeaderFragment}" />

    <!-- nav       -->
    <th:block th:insert="~{fragments/nav :: navFragment}" />

    <main>
        <section class="banner">

            <form action="/trading/chat/create" method="post">
                <input type="text" name="name" placeholder="채팅방 이름">
                <input type="text" name="username" placeholder="접속사용자명">
                <button type="submit" >방 만들기</button>
            </form>

            <table>
                <tr th:each="room : ${roomList}" >
                    <td>
                        <a th:href="@{/trading/chat/room(roomId=${room.roomId} )}"
                           th:text="${room.name}"></a>
                    </td>
                </tr>
            </table>

        </section>
    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="~{fragments/footer :: footerFragment}" />
    </footer>

</div>




</body>
</html>