main{
    /*                      display:flex;
                          justify-content:left;
                          align-items:start;
   */

}
.right{
    width : 100%;
}
.sub-menu{
    position:relative;
    width : 100%;
    height : 40px;
    line-height:40px;
    background-color : green;
    opacity:0.5;
    font-size:0.9rem;

}
.sub-menu ul{
    list-style : none;
    padding : 0px;
    display:flex;
    justify-content : left;
    align-items : center;

}
.sub-menu ul li{
    width : 120px;
    height : 40px;
    line-height:40px;
    text-align:center;

}
.sub-menu ul li a{
    text-decoration : none;
    color : white;
    display:block;
}
.sub-menu ul li a:hover{


}

/* */
.myinfoblock{
    display:flex;
    justify-content : left;
    align-items : start;
    width : 100%;
    gap:50px;
}
myinfoblock>*{

}
.mymenu{
    height : 200px;
    display:flex;
    justify-content : center;
    align-items : start;
    font-size : .8rem;
    padding : 10px;
}
.mymenu>.menu{
    padding : 5px;

}
.mymenu>.menu>li{
    width : 150px;

    line-height : 35px;
    padding 10px 5px;
    margin : 5px;

    text-align:center;
    border : 1px solid;
}
.mymenu>.menu>li>a{
    display:block;
    height : 35px;
    color : gray;
}
.mymenu>.menu>li>.submenu{
    padding :5px;
    border-top : 1px solid lightgray;
    margin-top : 5px;
    display:none;
}
.mymenu>.menu>li>.submenu>li{
    padding : 2px;
    margin : 2px;
    /*box-shadow : 5px 5px 5px lightgray;*/
    height : 35px;
}
.mymenu>.menu>li>.submenu>li>a{
    display:block;
    color : gray;
}
.mymenu>.menu>li:hover .submenu{
    display:block;
}
/**/
