<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />


    <!-- index.css-->
    <link rel="stylesheet" href="/css/index.css">
    <!-- join.css-->
    <link rel="stylesheet" href="/css/user/index_join.css">

    <link rel="stylesheet" href="/css/index_login.css">

    <!--  MODEL 속성가져오기  -->
    <script th:inline="javascript">
        let list = /*[[${list}]]*/
        let mode = /*[[${mode}]]*/
        let mainCategory = /*[[${mainCategory}]]*/
        let subCategory = /*[[${subCategory}]]*/
        let amount = /*[[${amount}]]*/
        let totalCount = /*[[${totalCount}]]*/
        console.log("mode",mode);
        console.log("list",list);
    </script>

    <!--    -->
    <link rel="stylesheet" href="/css/around/group.css">

    <!--    -->
    <script src="/js/around/group.js" defer></script>


</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="fragments/header :: mainHeaderFragment" />

    <!-- nav       -->
    <th:block th:insert="fragments/nav :: navFragment" />


    <main>

        <section class="layout-5 breadcrumb-block">
            <div class="">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">홈</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">둘러보기</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">그룹</li>
                    </ol>
                </nav>
            </div>
        </section>


        <section  class="group-block layout-5 ">
            <div class="head">
                <div class="">
                    <input type="radio" id="image" name="choose">
                    <label for="image">이미지</label>
                </div>
                <div class="">
                    <input type="radio" id="music" name="choose">
                    <label for="music">음악</label>
                </div>
                <div class="line"></div>
            </div>

            <div class="body">
                <!--   IMAGE BODY             -->
                <div th:class="${mode=='2'} ? 'image_body hidden' : 'image_body'">

                    <div class="swiper sub_category image_body">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide ">  <a  class="" href="/around/group?mainCategory='이미지'&subCategory='Character'&mode=1" data-title="Character">Character</a>   </div>
                            <div class="swiper-slide">  <a href="/around/group?mainCategory='이미지'&subCategory='City'&mode=1" data-title="City">City </a>   </div>
                            <div class="swiper-slide">  <a href="/around/group?mainCategory='이미지'&subCategory='Map'&mode=1" data-title="Map">Map </a>   </div>
                            <div class="swiper-slide">  <a href="/around/group?mainCategory='이미지'&subCategory='iCON'&mode=1" data-title="iCON">iCON</a>   </div>
                            <div class="swiper-slide">  <a href="/around/group?mainCategory='이미지'&subCategory='Furniture'&mode=1" data-title="Furniture">Furniture </a>   </div>
                            <div class="swiper-slide">  <a href="/around/group?mainCategory='이미지'&subCategory='Car'&mode=1" data-title="Car">Car </a>   </div>
                            <div class="swiper-slide">  <a href="/around/group?mainCategory='이미지'&subCategory='Place'&mode=1" data-title="Place">Place </a>   </div>
                            <div class="swiper-slide">  <a href="/around/group?mainCategory='이미지'&subCategory='Robot'&mode=1" data-title="Robot">Robot </a>   </div>
                            <div class="swiper-slide">  <a href="/around/group?mainCategory='이미지'&subCategory='Animal'&mode=1" data-title="Animal">Animal </a>   </div>
                            <div class="swiper-slide">  <a href="/around/group?mainCategory='이미지'&subCategory='Food'&mode=1" data-title="Food">Food </a>   </div>
                            <div class="swiper-slide">  <a href="/around/group?mainCategory='이미지'&subCategory='Others'&mode=1" data-title="Others">Others </a>   </div>
                        </div>

                        <div class="swiper-button-prev" style="background-color:royalblue;border:1px solid;position:absolute;top:55%;left:0px;">
                            <span class="material-symbols-outlined" style="color:white;" >arrow_left</span>
                        </div>
                        <div class="swiper-button-next" style="background-color:royalblue;border:1px solid;position:absolute;top:55%;left:calc(100% - 35px);">
                            <span class="material-symbols-outlined"  style="color:white;">arrow_right</span>
                        </div>
                    </div>

                    <div class="subCategoryBody">
                        <div >
                            <div class="" >
<!--
                                <div th:text="${imageRanking}"></div>
-->
                                <div th:if="${mode=='1'}">
                                    <span>TOTAL : </span><span th:text="${totalCount}"> </span>
                                </div>
                                <hr>
                                <div class="show-block">
                                    <div class="show-image-block" th:each="imageRanking,imageRankingStat : ${imageList}">
                                            <a th:href="@{/imageRanking/read(rankingId=${imageRanking.rankingId})}">
                                                <img style="" th:src="@{${imageRanking.ImagesFileInfo.dir}+'\\'+${imageRanking.ImagesFileInfo.filename}}" alt="인증필요">
                                            </a>
                                    </div>
                                    <th:block th:if="${pageDto.next}">
                                        <div class="next">
                                            <a href="javascript:void(0)" class="next_btn" th:data-pageNo="${pageDto.criteria.pageno}+1">
                                                <span class="material-symbols-outlined" >arrow_downward</span>
                                            </a>
                                        </div>
                                    </th:block>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div  th:class="${mode=='1'} ? 'music_body hidden' : 'music_body'" >

                    <div class="swiper sub_category">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">  <a data-title="Jazz" class="" href="/around/group?mainCategory='음악'&subCategory='Jazz'&mode=2">Jazz</a>   </div>
                            <div class="swiper-slide">  <a data-title="Rock" href="/around/group?mainCategory='음악'&subCategory='Rock'&mode=2">Rock </a>   </div>
                            <div class="swiper-slide">  <a data-title="Classic" href="/around/group?mainCategory='음악'&subCategory='Classic'&mode=2">Classic</a>   </div>
                            <div class="swiper-slide">  <a data-title="Prgressive" href="/around/group?mainCategory='음악'&subCategory='Prgressive'&mode=2">Prgressive</a>   </div>
                            <div class="swiper-slide">  <a data-title="Advertisement" href="/around/group?mainCategory='음악'&subCategory='Advertisement'&mode=2">Advertisement </a>   </div>
                            <div class="swiper-slide">  <a data-title="HeavyMetal" href="/around/group?mainCategory='음악'&subCategory='HeavyMetal'&mode=2">HeavyMetal</a>   </div>
                            <div class="swiper-slide">  <a data-title="Pop" href="/around/group?mainCategory='음악'&subCategory='Pop'&mode=2">Pop</a>   </div>
                            <div class="swiper-slide">  <a data-title="Others" href="/around/group?mainCategory='음악'&subCategory='Others'&mode=2">Others </a>   </div>

                        </div>
                    </div>
                    <div class="subCategoryBody ">
                        <div>
                            <div class="" >

                                <div th:if="${mode=='2'}">
                                    <span>TOTAL : </span><span th:text="${totalCount}"> </span>
                                </div>
                                <hr>
                                <div  class="show-block music-block" style="text-align:center;">

                                    <div  class="show-image-block" th:each="musicRanking,musicRankingStat : ${musicList}">
                                            <a th:href="@{/musicRanking/read(rankingId=${musicRanking.rankingId})}">
                                                <img th:src="${musicRanking.musicFileInfo.dir}+'/'+${musicRanking.musicFileInfo.albumImageName}" alt="" >
                                            </a>
                                    </div>
                                    <th:block th:if="${pageDto.next}">
                                        <div class="next">
                                            <a href="javascript:void(0)" class="music_next_btn" th:data-pageNo="${pageDto.criteria.pageno}+1">
                                                <span class="material-symbols-outlined" >arrow_downward</span>
                                            </a>
                                        </div>
                                    </th:block>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="fragments/footer :: footerFragment" />
    </footer>

</div>




</body>
</html>