<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />

    <!-- Leaflet 라이브러리 가져오기(여기서는 1.9.4를 사용했지만, 원하는 버전으로 바꿔도 무방 -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />


    <!--    -->
    <link rel="stylesheet" href="/css/around/local.css">

    <!--    -->
    <script src="/js/around/local.js" defer></script>



</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="fragments/header :: mainHeaderFragment" />

    <!-- nav       -->
    <th:block th:insert="fragments/nav :: navFragment" />


    <main>

        <section class="layout-5 breadcrumb-block">
            <div class="">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="material-symbols-outlined">home</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">둘러 보기</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">세계 지도</li>
                    </ol>
                </nav>
            </div>
        </section>


        <section class="layout-5 local-map-block">
            <h2>국내 지도</h2>
            <div id="map" ></div>


            <div class="show-image-block">
                <div class="images-block">

                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>

                        </div>

                        <!--                        -->
                        <!--                        &lt;!&ndash; If we need navigation buttons &ndash;&gt;-->
                        <!--                        <div class="swiper-button-prev">-->
                        <!--                            <span class="material-symbols-outlined">arrow_left</span>-->
                        <!--                        </div>-->
                        <!--                        <div class="swiper-button-next">-->
                        <!--                            <span class="material-symbols-outlined">arrow_right</span>-->
                        <!--                        </div>-->
                        <!--                        -->
                        <!--                        -->

                    </div>
                </div>
            </div>


        </section>

    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="fragments/footer :: footerFragment" />
    </footer>

</div>





</body>
</html>