<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />

    <!-- Leaflet 라이브러리 가져오기(여기서는 1.9.4를 사용했지만, 원하는 버전으로 바꿔도 무방 -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />


    <!--    -->
    <link rel="stylesheet" href="/css/around/local.css">

    <!--  MODEL 속성가져오기  -->
    <script th:inline="javascript">
        let fileList = /*[[${list}]]*/
        console.log(fileList);
    </script>


     <script src="/js/around/local.js" defer></script>



</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="fragments/header :: mainHeaderFragment" />

    <!-- nav       -->
    <th:block th:insert="fragments/nav :: navFragment" />


    <main>

        <section class="layout-5 breadcrumb-block">
            <div class="">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="material-symbols-outlined">home</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">둘러 보기</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">세계 지도</li>
                    </ol>
                </nav>
            </div>
        </section>


        <section class="layout-5 local-map-block">
            <h2>국내 지도</h2>

            <div id="map" ></div>


            <div class="show-image-block">
                <div class="images-block">

                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">

                            <th:block th:each="info:${list}">
                                <div class="swiper-slide"><a href=""><img th:src="@{${info.imagesFileInfo.dir}+'/'+${info.imagesFileInfo.filename}}"></a></div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>


        </section>

    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="fragments/footer :: footerFragment" />
    </footer>

</div>





</body>
</html>