<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
-->

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />



    <!--    -->
    <link rel="stylesheet" href="/css/around/popular.css">
    <!--    -->
    <script src="/js/around/popular.js" defer></script>



    <!--  MODEL 속성가져오기  -->
    <script th:inline="javascript">
        let imageTop10ByCount = [[${imageTop10ByCount}]]
        let imageTop10ByLike = [[${imageTop10ByLike}]]
        let musicTop10ByCount = [[${musicTop10ByCount}]]
        let musicTop10ByLike = [[${musicTop10ByLike}]]
        console.log("imageTop10ByCount",imageTop10ByCount);
        console.log("imageTop10ByLike",imageTop10ByLike);
        console.log("musicTop10ByCount",musicTop10ByCount);
        console.log("musicTop10ByLike",musicTop10ByLike);

    </script>

</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="fragments/header :: mainHeaderFragment" />

    <!-- nav       -->
    <th:block th:insert="fragments/nav :: navFragment" />

    <main>

        <section class="layout-5 breadcrumb-block">
            <div class="">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">홈</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">둘러보기</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">인기컨텐츠</li>
                    </ol>
                </nav>
            </div>
        </section>


        <section class="layout-5 image-top-10-block">
            <div class="left">
                <h5 >이미지 TOP 10 <span style="font-size:.7rem;padding:2px;color:green;font-weight:800">[ 좋아요순 ]</span> </h5>
                <hr>
                <div class="images-block">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" th:if="${#lists.size(imageTop10ByLike)==0}" style="display:flex;align-items:center;justify-content:center;">
                                표시할 이미지가 없습니다.
                            </div>
                            <!-- Slides -->
                            <div class="swiper-slide" th:each="imageRanking,imageRankingStat :${imageTop10ByLike}">
                                <a th:href="@{/imageRanking/read(rankingId=${imageRanking.rankingId})}">
                                    <div class="rankingNo">
                                        <span th:text="${imageRankingStat.count}"></span>
                                    </div>
                                    <th:block th:if="${imageRankingStat.count==1}">
                                        <span class="material-symbols-outlined">military_tech</span>
                                    </th:block>
                                    <img th:src="${imageRanking.imagesFileInfo.dir}+'/'+${imageRanking.imagesFileInfo.filename}" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <!--                -->
            </div>
        </section>

        <section class="layout-5 image-top-10-block">
            <div class="left">
                <h5>이미지 TOP 10 <span style="font-size:.7rem;padding:2px;color:green;font-weight:800">[ 조회순 ]</span> </h5>
                <hr>
                <div class="images-block">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide" th:if="${#lists.size(imageTop10ByCount)==0}" style="display:flex;align-items:center;justify-content:center;">
                                표시할 이미지가 없습니다.
                            </div>
                            <div class="swiper-slide" th:each="imageRanking,imageRankingStat :${imageTop10ByCount}">
                                <a th:href="@{/imageRanking/read(rankingId=${imageRanking.rankingId})}">
                                    <div class="rankingNo">
                                        <span th:text="${imageRankingStat.count}"></span>
                                    </div>
                                    <th:block th:if="${imageRankingStat.count==1}">
                                        <span class="material-symbols-outlined">military_tech</span>
                                    </th:block>
                                    <img th:src="${imageRanking.imagesFileInfo.dir}+'/'+${imageRanking.imagesFileInfo.filename}" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev">
                        </div>
                        <div class="swiper-button-next">
                        </div>
                    </div>
                </div>
                <!--                -->
            </div>
        </section>

        <section class="layout-5 music-top-10-block">
            <div class="left">
               <h5>MUSIC TOP 10 <span style="font-size:.7rem;padding:2px;color:green;font-weight:800">[ 좋아요순 ]</span></h5>
                <hr>
                <div class="images-block">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" th:if="${#lists.size(musicTop10ByLike)==0}" style="display:flex;align-items:center;justify-content:center;">
                                표시할 음악 이미지가 없습니다.
                            </div>
                            <div class="swiper-slide" th:each="musicRanking,musicRankingStat :${musicTop10ByLike}">
                                <a th:href="@{/musicRanking/read(rankingId=${musicRanking.rankingId})}">
                                    <div class="rankingNo">
                                        <span th:text="${musicRankingStat.count}"></span>
                                    </div>
                                    <th:block th:if="${musicRankingStat.count==1}">
                                        <span class="material-symbols-outlined">military_tech</span>
                                    </th:block>
                                    <img th:src="${musicRanking.musicFileInfo.dir}+'/'+${musicRanking.musicFileInfo.albumImageName}" alt="" >
                                </a>
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev">
                        </div>
                        <div class="swiper-button-next">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="layout-5 music-top-10-block">
            <div class="left">
                <h5>MUSIC TOP 10 <span style="font-size:.7rem;padding:2px;color:green;font-weight:800">[ 조회순 ]</span> </h5>
                <hr>
                <div class="images-block">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" th:if="${#lists.size(musicTop10ByCount)==0}" style="display:flex;align-items:center;justify-content:center;">
                                표시할 음악 이미지가 없습니다.
                            </div>
                            <div class="swiper-slide" th:each="musicRanking,musicRankingStat :${musicTop10ByCount}">
                                <a th:href="@{/musicRanking/read(rankingId=${musicRanking.rankingId})}">
                                    <div class="rankingNo">
                                        <span th:text="${musicRankingStat.count}"></span>
                                    </div>
                                    <th:block th:if="${musicRankingStat.count==1}">
                                        <span class="material-symbols-outlined">military_tech</span>
                                    </th:block>
                                    <img th:src="${musicRanking.musicFileInfo.dir}+'/'+${musicRanking.musicFileInfo.albumImageName}" alt="" >
                                </a>
                            </div>

<!--                            <div class="swiper-slide" th:each="musicRanking,musicRankingStat :${musicTop10ByLike}">-->
<!--                                <a href="javascript:void(0)" style="display:block;">-->
<!--                                    <div class="rankingNo">-->
<!--                                        <span th:text="${musicRankingStat.count}"></span>-->
<!--                                    </div>-->
<!--                                    <th:block th:if="${musicRankingStat.count==1}">-->
<!--                                        <span class="material-symbols-outlined">military_tech</span>-->
<!--                                    </th:block>-->

<!--                                    <table class="table w-100" style="font-size:.7rem; border : 1px solid lightgray ;">-->
<!--                                        <tr>-->
<!--                                            <td class=" text-light" style="width:50%;background-color:darkcyan;opacity:.8">제목</td>-->
<!--                                            <td th:text="${musicRanking.musicFileInfo.music.title}"></td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td colspan="2">-->
<!--                                                <img th:src="${musicRanking.musicFileInfo.dir}+'/'+${musicRanking.musicFileInfo.albumImageName}" alt="" style="width:100%;height:50px;box-shadow:0;">-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td class=" text-light" style="width:50%;background-color:darkcyan;opacity:.8">좋아요 수</td>-->
<!--                                            <td th:text="${musicRanking.ilikeit}"></td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td class=" text-light" style="width:50%;background-color:darkcyan;opacity:.8">조회수 </td>-->
<!--                                            <td th:text="${musicRanking.count}"></td>-->
<!--                                        </tr>-->
<!--                                    </table>-->
<!--                                </a>-->
<!--                            </div>-->
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev">
                        </div>
                        <div class="swiper-button-next">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="fragments/footer :: footerFragment" />
    </footer>

</div>




</body>
</html>