<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />



    <!--    -->
    <link rel="stylesheet" href="/css/around/popular.css">
    <!--    -->
    <script src="/js/around/popular.js" defer></script>



    <!--  MODEL 속성가져오기  -->
    <script th:inline="javascript">
        let imageTop10ByCount = [[${imageTop10ByCount}]]
        let imageTop10ByLike = [[${imageTop10ByLike}]]
        let musicTop10ByCount = [[${musicTop10ByCount}]]
        let musicTop10ByLike = [[${musicTop10ByLike}]]
        console.log("imageTop10ByCount",imageTop10ByCount);
        console.log("imageTop10ByLike",imageTop10ByLike);
        console.log("musicTop10ByCount",musicTop10ByCount);
        console.log("musicTop10ByLike",musicTop10ByLike);

    </script>

</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="fragments/header :: mainHeaderFragment" />

    <!-- nav       -->
    <th:block th:insert="fragments/nav :: navFragment" />

    <main>

        <section class="layout-5 breadcrumb-block">
            <div class="">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="material-symbols-outlined">home</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">둘러 보기</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">인기 컨텐츠</li>
                    </ol>
                </nav>
            </div>
        </section>


        <section class="layout-5 image-top-10-block">
            <div class="left">
                <h4>[<span class="material-symbols-outlined">thumb_up</span>] 이미지 TOP 10</h4>
                <hr>
                <div class="images-block">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            </div>
                            <div class="swiper-slide" th:each="imageRanking :${imageTop10ByCount}">
                                <a href="javascript:void(0)">
                                    <img th:src="${imageRanking.imagesFileInfo.dir}+'/'+${imageRanking.imagesFileInfo.filename}" alt="">
                                </a>
                            </div>

                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev">
                            <span class="material-symbols-outlined">arrow_left</span>
                        </div>
                        <div class="swiper-button-next">
                            <span class="material-symbols-outlined">arrow_right</span>
                        </div>
                    </div>
                </div>
                <!--                -->
            </div>
        </section>

        <section class="layout-5 image-top-10-block">
            <div class="left">
                <h4>[<span class="material-symbols-outlined">visibility</span>] 이미지 TOP 10</h4>
                <hr>
                <div class="images-block">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><a href="">
                                <span class="material-symbols-outlined">military_tech</span>
                                <img src="">
                            </a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev">
                            <span class="material-symbols-outlined">arrow_left</span>
                        </div>
                        <div class="swiper-button-next">
                            <span class="material-symbols-outlined">arrow_right</span>
                        </div>
                    </div>
                </div>
                <!--                -->
            </div>
        </section>

        <section class="layout-5 music-top-10-block">
            <div class="left">
                <h4>[<span class="material-symbols-outlined">thumb_up</span>]MUSIC TOP 10</h4>
                <hr>
                <div class="images-block">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><a href="">
                                <span class="material-symbols-outlined">military_tech</span>
                                <img src="">
                            </a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev">
                            <span class="material-symbols-outlined">arrow_left</span>
                        </div>
                        <div class="swiper-button-next">
                            <span class="material-symbols-outlined">arrow_right</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="layout-5 music-top-10-block">
            <div class="left">
                <h4>[<span class="material-symbols-outlined">visibility</span>]MUSIC TOP 10</h4>
                <hr>
                <div class="images-block">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><a href="">
                                <span class="material-symbols-outlined">military_tech</span>
                                <img src="">
                            </a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                            <div class="swiper-slide"><a href=""><img src=""></a></div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev">
                            <span class="material-symbols-outlined">arrow_left</span>
                        </div>
                        <div class="swiper-button-next">
                            <span class="material-symbols-outlined">arrow_right</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="fragments/footer :: footerFragment" />
    </footer>

</div>




</body>
</html>