<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />


    <!-- index.css-->
    <link rel="stylesheet" href="/css/index.css">
    <!-- join.css-->
    <link rel="stylesheet" href="/css/user/index_join.css">

    <link rel="stylesheet" href="/css/index_login.css">


    <!-- index.js   -->
    <script src="/js/index.js" defer> </script>

    <!-- join.js   -->
    <script src="/js/user/index_join.js" defer> </script>


</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="fragments/header :: mainHeaderFragment" />

    <!-- nav       -->
    <th:block th:insert="fragments/nav :: albumNavFragment" />


    <main>
        <section class="layout-5 breadcrumb-block">
            <div class="">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">
                            <span class="material-symbols-outlined">home</span>
                        </a></li>
                        <li class="breadcrumb-item active" aria-current="page">FAVORITE</li>
                    </ol>
                </nav>
            </div>
        </section>

        <section class="">
            각 컨텐츠에 좋아요 기능을 추가<br>
            좋아요 누름 횟수를 누적계산해서 월별 최우수 컨텐츠와<br>
            연별 최우수 컨텐츠 수상자에 수상 및 상품

        </section>
    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="fragments/footer :: footerFragment" />
    </footer>

</div>




</body>
</html>