<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />


    <link rel="stylesheet" href="/css/myinfo/confirm.css">

    <script src="/js/myinfo/confirm.js" defer> </script>

    <script th:inline="javascript">
        let  list = /*[[${ list}]]*/
        console.log(list);
    </script>
</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="~{fragments/header :: mainHeaderFragment}" />

    <!-- nav       -->
    <th:block th:insert="~{fragments/nav :: navFragment}" />

    <main>
        <section class="layout-5 breadcrumb-block">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item"><a href="#">HOME</a></li>
                    <li class="breadcrumb-item"><a href="#">매매</a></li>
                    <li class="breadcrumb-item active" aria-current="page">이미지</li>
                </ol>
            </nav>
        </section>
        <section class="banner layout-5">
            <div>
                <table class="table" >
                    <thead>
                        <tr class="table-dark">
                            <th style="width:30px;">NO</th>
                            <th>이미지</th>
                            <th>제목</th>
                            <th>판매자</th>
                            <th>승인여부</th>
                            <th>낙찰가</th>
                            <th>경매시작일</th>
                            <th>경매종료일</th>
                            <th>신청인원</th>
                            <th>참여하기</th>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <th>관리</th>
                            </th:block>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="dto : ${list}">
                            <div th:text="${dto}"></div>
                            <tr>
                                <td th:text="${dto.tradingid}"></td>
                                <td >
                                    <a href="javascript:void(0)">
                                    <img  style="width:100px;height:50px;" th:src="@{${dto.fileDir}+'\s_'+${dto.filename}}"  alt="" />
                                    </a>
                                </td>
                                <td th:text="${dto.title}"></td>
                                <td th:text="${dto.seller}"></td>
                                <td th:text="${dto.adminAccepted}?'승인':'미승인'"></td>
                                <td th:text="${dto.price} eq null?'0':${dto.price}"></td>
                                <td th:text="${dto.auctionStartTime}"></td>
                                <td th:text="${dto.auctionEndTime}"></td>
                                <td><span th:text="${dto.cur}">0</span>/<span th:text="${dto.max}==null ? '0':${dto.max}"></span></td>
                                <td>
                                    <!--유저-->
                                    <th:block sec:authorize="hasRole('ROLE_USER')">
                                        <th:block th:if="${dto.roomId}!=null">
                                            <th:block th:if="${dto.req}">
                                                <a th:href="@{/trading/chat/req(tradingid=${dto.tradingid})}">신청</a>
                                            </th:block>
                                            <th:block th:if="${dto.join}">
                                                <a th:href="@{/trading/chat/enter(roomId=${dto.roomId})}">입장</a>
                                            </th:block>
                                        </th:block>
                                        <th:block th:unless="${dto.roomId}!=null">
                                            <a href="javascript:void(0)">대기</a>
                                        </th:block>
                                    </th:block>

                                    <!--관리자-->
                                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                        <th:block th:if="${dto.roomId}==null">
                                            <a href="javascript:void(0)">대기</a>
                                        </th:block>
                                        <th:block th:unless="${dto.roomId}==null">
                                            <a th:href="@{/trading/chat/enter(roomId=${dto.roomId})}">입장</a>
                                        </th:block>
                                    </th:block>
                                </td>

                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <th:block th:if="${dto.roomId}==null">
                                        <td>
                                            <a th:href="@{/trading/chat/create(tradingid=${dto.tradingid})}" >채팅방 생성</a>
                                        </td>
                                    </th:block>
                                    <th:block th:unless="${dto.roomId}==null">
                                        <td>
                                            <a href="javascript:void(0)" >채팅방 제거</a>
                                        </td>
                                    </th:block>
                                </th:block>

                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </section>
    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="~{fragments/footer :: footerFragment}" />
    </footer>

</div>




</body>
</html>