<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<th:block th:fragment="myasideFragment">
    <div class="mymenu ">
        <ul class="menus">
            <li>
                <a href="/user/myinfo">내정보</a>
            </li>
            <li>
                <a href="/user/album/main">앨범</a>
            </li>
            <li>
                <a href="javascript:void(0)">즐겨찾기</a>
            </li>
            <li>
                <a href="javascript:void(0)">갤러리</a>
            </li>
            <li>
                <a href="javascript:void(0)">그룹</a>
            </li>
        </ul>
    </div>


</th:block>

</body>
</html>