<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
</head>
<body>


<th:block th:fragment="navFragment" >
  <nav class="layout-5">

    <div class="left">
      <a href="/">
        <img src="/assets/logo.jpg" alt=""  style="">
      </a>
      <span class="leftTop"></span>
      <span class="rightBottom"></span>

    </div>

    <div class="right">
      <ul class="mainmenu">
        <li class="">
          <a href="javascript:void(0)">내 이미지</a>
          <ul class="submenu ">
            <li ><a href="/user/myinfo/confirm">내정보</a></li>
            <li class=""><a href="/user/album/add">앨범</a></li>
            <li><a href="/bookmark/my">즐겨찾기</a></li>
            <li><a href="/user/album/main">갤러리</a></li>
            <li><a href="/around/group">그룹</a></li>
          </ul>
        </li>
        <li class="">
          <a href="javascript:void(0)">둘러보기</a>
          <ul class="submenu">
            <li class=""><a href="/around/popular">인기이미지</a></li>
            <li><a href="/around/group">그룹</a></li>
            <li class=""><a href="/around/local">국내지도</a></li>
            <li class=""><a href="/around/global">세계지도</a></li>
          </ul>
        </li>
        <li class="ranking-menu " >
          <a href="javascript:void(0)">이달의 콘텐츠<br>RANKING</a>
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)">이미지</a>
              <ul class="submenu2">
                <li class=""><a href="/imageRanking/list" > <span >전체 이미지 랭킹</span></a></li>
                <li class=""><a href="/imageRanking/cat">분야별 랭킹</a></li>
                <li class=""><a href="/imageRanking/local">지역별 랭킹</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)">음악</a>
              <ul class="submenu2">
                <li class=""><a href="/musicRanking/list">전체 음악 랭킹</a></li>
                <li class=""><a href="/musicRanking/cat">장르별 랭킹</a></li>
                <li class=""><a href="/musicRanking/local">지역별 랭킹</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="">
          <a href="javascript:void(0)">매매</a>
          <ul class="submenu">
            <li><a href="/trading/image/main">이미지</a></li>
            <li><a href="/trading/music/main">음악</a></li>
            <li><a href="/trading/calendar/main">이벤트달력</a></li>
          </ul>
        </li>
        <li class="">
          <a href="javascript:void(0)">교육</a>
          <ul class="submenu">
            <li><a href="/edu/stableDiffusion">Stable Diffusion</a></li>
            <li><a href="/edu/dalle">Dalle-E</a></li>
            <li><a href="/edu/mid">Mid Journey</a></li>
            <li><a href="/edu/genAi">GenAI 일반</a></li>
            <li><a href="/edu/lecture">온라인 강의</a></li>
          </ul>
        </li>
        <li class="">
          <a href="/board/list">자유 게시판</a>
          <ul class="submenu">
          </ul>
        </li>
      </ul>

    </div>
  </nav>
</th:block>


<!-- ALBUM NAV-->

<th:block th:fragment="albumNavFragment">
  <nav class="layout-5">

    <div class="left">
      <a href="/">
        <img src="/assets/logo.jpg" alt="" style="">
      </a>
      <span class="leftTop"></span>
      <span class="rightBottom"></span>
    </div>

    <div class="right">
      <ul class="mainmenu">
        <li>
          <a href="/">메인화면</a>
        </li>
        <li>
          <a href="/user/myinfo/confirm">내정보</a>
        </li>
        <li>
          <a href="/user/album/add">앨범</a>

        </li>
        <li>
          <a href="/bookmark/my">즐겨찾기</a>
        </li>
        <li>
          <a href="/user/album/main">갤러리</a>
        </li>
        <li>
          <a href="/around/group">그룹</a>
        </li>
      </ul>

    </div>
  </nav>

</th:block>

</body>
</html>