.dashboard{
    display:flex;
    justify-content : space-between;
    align-items :start;
    gap : 20px;

    position:relative;
}
.dashboard h6{

}
.dashboard .totalPerDay.left{
    width : 100%;
    height : 100%;
    max-width : 400px;
    min-width: 200px;
    padding : 5px;

}
.dashboard .totalPerDay.left canvas{
    margin :0 auto;
    padding : 10px;
    width : 100% !important;
    height : 100% !important;

}

.dashboard .right{
    width :calc(60vw - 40px);
    height :100%;
}

.dashboard .right{
    padding : 5px;

}

td{
    position:relative;
}
td input{
    position:absolute;
    top:0;bottom:0;
    left:0;right:0;
    margin : auto;
    width : 100%;
    height : 35px;



}
.btn{

}

