/*
    SECTION01
*/
.section1{
    width : 100%;
   /* border : 1px  solid;*/
    height : 500px;
    padding : 15px;
    display:flex;
    justify-content:space-between;
    align-items :start;
    margin-bottom : 15px;
}
.section1 .left{
    width : 100%;
    height : 100%;
    margin : 10px;
    padding : 5px;

    display:flex;
    justify-content:center;
    align-items : start;
    box-shadow :5px 5px 5px lightgray;


    overflow : auto;
}
.section1 .left table{
    width : 300px;
}
.section1 .left table th{

    text-align:center;
}

.section1 .left table img{
    width : 100px;
    height : 45px;
}
.section1 .left>div{

    height : 100%;
    padding : 15px;
    margin : 10px;
/*
    border : 1px solid;
*/

    display:flex;
    justify-content : start;
    align-items :start;
    flex-direction:column;
}
.section1 .left>div:nth-child(2){
    display:block;
}
.section1 .left>div>div{
    width :100%;
    height : 50%;
    margin : 5px;
    border : 1px solid;
    padding : 5px;
}
.section1 .left>div>.title{
    display:flex;
    justify-content : space-between;
    align-items : center;
    height : 35px;
    border : 0;
    margin : 0px;
    position:absolute;
    left:0px;
    top:0px;
}
.section1 .left>div>.title a{
    font-size : .6rem;
    margin-left : 5px;
    border : 1px solid green;
    padding : 2px;
    color : green;
}
.section1 .left .ranking-summary{
    width : 100%;

    display:flex;
    justify-content : center;
    align-items : start;
    padding : 20px;

    position:relative;
}
.section1 .left .ranking-summary .title{
    width:100%;
    position:absolute;
    left:0px;
    top:0px;

}

.section1 .left .ranking-summary table{
    position:absolute;
    top:45px;
    left:-10px;
}

.section1 .left::-webkit-scrollbar{
    display:none;
}
.section1 .left .ranking-summary table{
    width : 100%;

}
.section1 .left table th,
.section1 .left table td{
    font-size : .8rem;
    text-align:center;
}



.section1 .right{
    width : 65vw;
    height : 100%;
    margin : 10px;
    border : 0;

    box-shadow :5px 5px 5px lightgray;
    display:flex;
    justify-content:center;
    align-items : center;
    position:relative;
}

.section1 .right .tag{
    position:absolute;
    left:0px;
    top : 0px;
    content : "";
    font-size : .8rem;
    border: 0;

    box-shadow :5px 5px 5px lightgray;
    width : 80px;
    height : 30px;
    display:flex;
    justify-content:center;
    align-items : center;
}
.section1 .right .tag::after{
    position:absolute;
    left:0px;
    top : 0px;
    content : "";
    font-size : 1.2rem;
    border-top : 5px solid white;
    border-bottom : 5px solid darkcyan;
    border-left : 5px solid white;
    border-right: 5px solid darkcyan;
}

.section1 .right .swiper{
   width :50vw;;
   height : 100%;
  /* border : 1px solid;*/
}
.section1 .right .swiper canvas{
    width :100%;
}
.section1 .right .swiper .swiper-wrapper{
     width :70vw;;
}
.section1 .right .swiper .swiper-wrapper .swiper-slide{
    display:flex;
    justify-content:center;
    align-items : center;
}

.section1 .right .swiper .swiper-button-prev::after,
.section1 .right .swiper .swiper-button-next::after{
    content : "";
}
.section1 .right .swiper .swiper-button-prev,
.section1 .right .swiper .swiper-button-next
{
    text-decoration : none;
    color : gray;
    position:absolute;
    ;
    top : 50%;
}
.section1 .right .swiper .swiper-button-prev{
    left :5px;
}
.section1 .right .swiper .swiper-button-next{
    right : 5px;
}
/*
    SECTION02
*/

.section2{
    width : 100%;
    /*border : 1px  solid;*/

    padding : 15px;
    display:flex;
    justify-content:space-between;
    align-items : center;
    flex-direction:column;
}

.section2 .left{
    width : 100%;
    padding : 20px;
    margin : 10px;

    box-shadow : 5px 5px 5px lightgray;
/*    display:flex;
    justify-content:center;
    align-items : center;*/
    position:relative;
}
.section2 .left ul{
    display:flex;
    justify-content:space-between;
    align-items : center;
}
.section2 .left ul li{
    border : 1px solid;
    margin : 5px;
    width : 100%;
    height : 50px;
    padding : 5px;
    display:flex;
    justify-content:center;
    align-items : center;
    position:relative;
}

.section2 .right{
    margin-top : 35px;
    width : 100%;
    padding : 20px;
    margin : 10px;
    box-shadow : 5px 5px 5px lightgray;
/*    display:flex;
    justify-content:center;
    align-items : center;*/

    overflow : hidden;
}

.section2 .images-block .swiper{
    width : 95vw;;
    height : 300px;
    border : 1px solid lightgray;
    display:flex;
    justify-content : center;
    align-items : center;
}
.section2 .images-block .swiper .swiper-wrapper{
    height  :100%;
    display:flex;
    justify-content : center;
    align-items : center;
     transition-timing-function: linear;

}
.section2 .images-block .swiper .swiper-wrapper .swiper-slide{
    width : 200px;
    height : 200px;
    margin :10px;

    position:relative;
}
.section2 .images-block .swiper .swiper-wrapper .swiper-slide img{
    width : 100%;
    height : 100%;
    object-fit:contain;
}

.section2 .images-block .swiper .swiper-button-prev,
.section2 .images-block .swiper .swiper-button-next
{


}
.section2 .images-block .swiper .swiper-button-prev{
}
.section2 .images-block .swiper-button-prev::after,
.section2 .images-block .swiper-button-next::after
{
    content:'';
}
.section2 .images-block a{
    text-decoration:none;
    color:black;
}


.section2 .swiper-slide span.material-symbols-outlined{
/*    position:absolute;
    left:0px;
    top:0px;
    padding : 5px;
    display:block;
    width : 45px;
    height : 45px;
    font-size : 2.5rem;
    color : orange;
    font-variation-settings:
              'FILL' 0,
              'wght' 200,
              'GRAD' 0,
              'opsz' 48;*/

}

.today{
    position : relative;
}
.today::after{
    content : "오늘";
    position:absolute;
    left:15px;
    top:-12px;
    width : 40px;
    height : 25px;
    color : white;
    background-color : darkcyan;
    font-size : .7rem;
    border-radius :15px;
    display:flex;
    justify-content : center;
    align-items : center;

}

.fc-event-time,
.fc-event-title{
    font-size: .7em;
}

#calendar td
{
    height : 150px !important;
}
#calendar td>div{
    height : 100% !important;
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner{
    height : 150px !important;
}


.hidden{
    display:none !important;
}


.section2 .swiper .swiper-button-prev,
.section2 .swiper .swiper-button-next{

    color:white;
    font-size : 5rem;
    background-color:darkcyan;
    height:100%;
    position:absolute;
    top:21.5px;
}
.section2 .swiper .swiper-button-prev{
    left:0px;
}
.section2 .swiper .swiper-button-next{
    right:0px;
}

.modal-dialog{
    width : 600px !important;
}