<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
-->

    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />


    <link rel="stylesheet" href="/css/trading/image/main.css">

    <script th:inline="javascript">
        let  list = /*[[${ list}]]*/
        console.log(list);
    </script>
    <script src="/js/trading/music/main.js" defer> </script>

</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="~{fragments/header :: mainHeaderFragment}" />

    <!-- nav       -->
    <th:block th:insert="~{fragments/nav :: navFragment}" />

    <main>
        <section class="layout-5 breadcrumb-block">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item"><a href="#">HOME</a></li>
                    <li class="breadcrumb-item"><a href="#">매매</a></li>
                    <li class="breadcrumb-item active" aria-current="page">음악</li>
                </ol>
            </nav>
        </section>
        <section class="banner layout-5">
            <div>
                <table class="table" style="font-size :.7rem;">
                    <div class="message-block" th:text="${message}"></div>
                    <thead>
                        <tr class="table-dark">
                            <th style="width:30px;">NO</th>
                            <th>이미지</th>
                            <th>제목</th>
                            <th>판매자</th>
                            <th>구매자</th>
                            <th>승인여부</th>
                            <th>시작가</th>
                            <th>낙찰가</th>
                            <th>경매시작일</th>
                            <th>경매종료일</th>
                            <th>신청인원</th>
                            <th>상태</th>
                            <th>참여하기</th>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <th>관리</th>
                            </th:block>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <th>삭제</th>
                            </th:block>
                        </tr>
                    </thead>
                    <tbody style="font-size :.7rem;">
                        <th:block th:each="dto : ${list}">
                            <tr>
                                <td th:text="${dto.tradingid}"></td>
                                <td >
                                    <a href="javascript:void(0)">
                                        <img  th:src="${dto.fileDir}+'/'+${dto.albumImageName}" alt="인증필요" style="width:100px;height:45px;object-fit:contain;"></img>
                                    </a>
                                </td>
                                <td th:text="${dto.title}"></td>
                                <td th:text="${dto.seller}"></td>
                                <td th:text="${dto.buyer}"></td>
                                <td th:text="${dto.adminAccepted}?'승인':'미승인'"></td>
                                <td th:text="${dto.startPrice eq null} ?'0':${dto.startPrice}"></td>
                                <td th:text="${dto.price eq null} ?'0':${dto.price}"></td>
                                <td th:text="${dto.auctionStartTime}"></td>
                                <td th:text="${dto.auctionEndTime}"></td>
                                <td><span th:text="${dto.cur}">0</span>/<span th:text="${dto.max==null} ? '0':${dto.max}"></span></td>
                                <td th:text="${dto.status}"></td>
                                <td >
                                    <!--유저-->
                                    <th:block sec:authorize="hasRole('ROLE_USER')">
                                        <th:block th:if="${dto.roomId!=null}">
                                            <th:block th:if="${dto.req}">
                                                <a th:href="@{/trading/music/chat/req(tradingid=${dto.tradingid})}" class="btn btn-secondary" style="font-size :.7rem;">신청</a>
                                            </th:block>
                                            <th:block th:if="${dto.join}">
                                                <a th:href="@{/trading/music/chat/enter(roomId=${dto.roomId})}" class="btn btn-secondary" style="font-size :.7rem;">입장</a>
                                            </th:block>
                                        </th:block>
                                        <th:block th:unless="${dto.roomId!=null}">
                                            <a href="javascript:void(0)" class="btn" style="font-size :.7rem;">대기</a>
                                        </th:block>
                                    </th:block>

                                    <!--관리자-->
                                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                        <th:block th:if="${dto.roomId==null}">
                                                <span style="font-size :.7rem;">대기</span>
                                        </th:block>

                                        <th:block th:if="${dto.roomId!=null}">
                                            <th:block th:if="${dto.status==null } or ${dto.status=='경매승인'} or ${dto.status=='경매중지'}">
                                                <span style="font-size :.7rem;">대기</span>
                                            </th:block>
                                            <th:block th:if="${dto.status=='낙찰완료'} or ${dto.status=='결제완료'}">
                                                <span style="font-size :.7rem;">대기</span>
                                            </th:block>
                                            <th:block th:if="${dto.status=='경매중'}">
                                                <a th:href="@{/trading/music/chat/enter(roomId=${dto.roomId})}" class="btn btn-secondary" style="font-size :.7rem;">입장</a>
                                            </th:block>

                                    </th:block>
                                </td>

                                <!-- 관리 -->
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <th:block th:if="${dto.adminAccepted}" >
                                        <th:block th:if="${dto.roomId==null}">
                                            <td>
                                                <th:block th:if="${dto.status=='경매승인'} or ${dto.status=='경매중지'}">
                                                    <a th:href="@{/trading/music/chat/create(tradingid=${dto.tradingid})}"  class="btn btn-secondary" style="font-size :.7rem;">경매방 생성</a>
                                                </th:block>
                                                <th:block th:if="${dto.status=='경매중'}">
                                                    <a th:href="@{/trading/music/chat/del(tradingid=${dto.tradingid})}" class="btn btn-secondary" style="font-size :.7rem;">경매방 제거</a>
                                                </th:block>
                                                <th:block th:if="${dto.status=='낙찰완료'}">
                                                    <span>판매자 결제필요</span>
                                                </th:block>
                                                <th:block th:if="${dto.status=='결제완료'}">
                                                    <a href="javascript:void(0)" th:data-tradingid="${dto.tradingid}" class="btn btn-secondary remittanceBtn" style="font-size :.7rem;">관리자 송금하기</a>
                                                </th:block>
                                                <th:block th:if="${dto.status=='송금완료'}">
                                                    <span>종료</span>
                                                </th:block>
                                            </td>
                                        </th:block>
                                        <th:block th:if="${dto.roomId!=null}">
                                            <td>
                                                <th:block th:if="${dto.status=='경매중지'} or ${dto.status=='경매중'}">
                                                    <a th:href="@{/trading/music/chat/del(tradingid=${dto.tradingid})}" class="btn btn-secondary" style="font-size :.7rem;">경매방 제거</a>
                                                </th:block>
                                                <th:block th:if="${dto.status=='결제완료'}">
                                                    <a href="javascript:void(0)" th:data-tradingid="${dto.tradingid}" class="btn btn-secondary remittanceBtn" style="font-size :.7rem;">관리자 송금하기</a>
                                                </th:block>
                                                <th:block th:if="${dto.status=='송금완료'}">
                                                    <span>종료</span>
                                                </th:block>
                                            </td>
                                        </th:block>
                                    </th:block>
                                    <th:block th:unless="${dto.adminAccepted}" >
                                        <td>
                                            <a href="/admin/trading/music/main" class="btn btn-secondary" style="font-size :.7rem;">승인</a>
                                        </td>
                                    </th:block>
                                </th:block>

                                <!--  삭제-->
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">

                                        <th:block th:if="${dto.roomId==null}">
                                            <th>
                                                <th:block th:if="${dto.status=='경매승인'} or ${dto.status=='경매중지'} or ${dto.status=='경매중'} or ${dto.status=='낙찰완료'}">
                                                    <a th:href="@{/trading/music/del(tradingid=${dto.tradingid})}" class="btn btn-secondary" style="font-size :.7rem;">경매 제거</a>
                                                </th:block>

                                                <th:block th:if="${dto.status=='결제완료'}">
                                                    <span>송금대기</span>
                                                </th:block>

                                                <th:block th:if="${dto.status=='송금완료'}">
                                                        <span>-</span>
                                                </th:block>

                                            </th>
                                        </th:block>
                                        <th:block th:if="${dto.roomId!=null}">
                                            <th>
                                                <th:block th:if="${dto.status=='경매승인'} or ${dto.status=='경매중지'} or ${dto.status=='낙찰완료'}">
                                                    <a th:href="@{/trading/music/del(tradingid=${dto.tradingid})}" class="btn btn-secondary" style="font-size :.7rem;">경매 제거</a>
                                                </th:block>

                                                <th:block th:if="${dto.status=='경매중'}">
                                                    <span style="font-size : .7rem">[삭제불가]경매중</span>
                                                </th:block>
                                            </th>
                                        </th:block>
                                </th:block>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </section>
    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="~{fragments/footer :: footerFragment}" />
    </footer>

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary userAccountBtn" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal5">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">판매자 계정 확인</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table w-100" >
                    <tr>
                        <td class="bg-dark text-light" style="font-size:.8rem;" >경매번호</td>
                        <td class="trading_id" style="font-size:.8rem;"></td>
                    </tr>
                    <tr>
                        <td class="bg-dark text-light" style="font-size:.8rem;">은행명</td>
                        <td class="bankname"  style="font-size:.8rem;"></td>
                    </tr>
                    <tr>
                        <td class="bg-dark text-light"  style="font-size:.8rem;">계좌번호</td>
                        <td  class="account"  style="font-size:.8rem;"></td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary sendMoneyBtn" data-bs-dismiss="modal"  style="font-size:.8rem;">송금 하기</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  style="font-size:.8rem;">닫기</button>
            </div>
        </div>
    </div>
</div>



</body>
</html>