<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />


    <link rel="stylesheet" href="/css/myinfo/confirm.css">

    <script src="/js/myinfo/confirm.js" defer> </script>


</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="~{fragments/header :: mainHeaderFragment}" />

    <!-- nav       -->
    <th:block th:insert="~{fragments/nav :: navFragment}" />
    <style>
        section.banner img {
             margin : 10px;
             padding : 10px;
             border : 1px solid ;
             max-width : 450px;
             max-height : 500px;
             object-fit:contain;

         }
         section.banner{
             display:flex;
             justify-content : space-between;
             align-items : start;
             flex-wrap : wrap;
             gap : 0px;
         }
    </style>
    <main>
        <h3 class="layout-5">결제 기본 설정</h3>
        <section class="banner layout-5 mt-3">

            <img src="/assets/guide/portOne/01/1.png" alt="">
            <img src="/assets/guide/portOne/01/2.png" alt="">
            <img src="/assets/guide/portOne/01/3.png" alt="">
            <img src="/assets/guide/portOne/01/4.png" alt="">
            <img src="/assets/guide/portOne/01/5.png" alt="">
            <img src="/assets/guide/portOne/01/6.png" alt="">
            <img src="/assets/guide/portOne/01/7.png" alt="">
            <img src="/assets/guide/portOne/01/8.png" alt="">
        </section>
        <hr>
        <h3 class="layout-5 mt-3">결제 방식 설정</h3>
        <section class="banner layout-5 mt-3">
            <img src="/assets/guide/portOne/02/1.png" alt="">
            <img src="/assets/guide/portOne/02/2.png" alt="">
            <img src="/assets/guide/portOne/02/3.png" alt="">
            <img src="/assets/guide/portOne/02/4.png" alt="">
            <img src="/assets/guide/portOne/02/5.png" alt="">
            <img src="/assets/guide/portOne/02/6.png" alt="">
            <img src="/assets/guide/portOne/02/7.png" alt="">
        </section>
    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="~{fragments/footer :: footerFragment}" />
    </footer>

</div>




</body>
</html>