<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />

    <!-- join.css-->
    <link rel="stylesheet" href="/css/user/index_join.css">

    <link rel="stylesheet" href="/css/index_login.css">
    <!-- index.css-->
    <link rel="stylesheet" href="/css/index.css">


    <!-- index.js   -->
    <script src="/js/index.js" defer> </script>
    <script src="/js/user/index_join.js" defer> </script>

    <!-- chart.js    -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>




</head>
<body>
    
    <div class="wrapper">

        <!-- header   -->
        <th:block th:insert="fragments/header :: mainHeaderFragment" />

        <!-- nav       -->
        <th:block th:insert="fragments/nav :: navFragment" />


        <main>
            <!--SECTION01-->
            <section class="layout-5 breadcrumb-block">
                <div class="">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page" style="border : 0px !important;">
                                <span class="material-symbols-outlined">home</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </section>


            <section class="section1 ">

                <div class="left layout-5">
                    <div class="board">
                        <div>
                            <div style="margin-bottom:10px">
                                공지사항 <span style="font-size:.7rem;">최신글 5</span>
                            </div>
                            <table class="table">
                                <tr class="table-dark">
                                    <th>제목</th>
                                </tr>
                                <tr>
                                    <td>[공지] 공지공기</td>
                                </tr>
                                <tr>
                                    <td>[공지] 공지공기</td>
                                </tr>
                                <tr>
                                    <td>[공지] 공지공기</td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <div style="margin-bottom:10px">
                                자유게시판 <span style="font-size:.7rem;">최신글 5</span>
                            </div>
                            <table class="table">
                                <tr class="table-dark">
                                    <th>제목</th>
                                </tr>
                                <tr>
                                    <td>게시글 - </td>
                                </tr>
                                <tr>
                                    <td>게시글 - </td>
                                </tr>
                                <tr>
                                    <td>게시글 - </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="ranking-summary">
                        <div class="title">
                            <h6>RANKING TOP 10</h6>
                            <div>
                                <a href="" class="" >조회순</a>
                                <a href="" class="" >좋아요순</a>
                            </div>

                        </div>

                        <table class="table">
                            <tr class="table-dark">
                                <th>Rank</th>
                                <th>Title</th>
                                <th>Cat</th>
                                <th>View</th>
                                <th>Like</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>                      </tr>                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>                      </tr>                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>                      </tr>                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="right layout-5">
                    <canvas id="section1Chart"></canvas>
                </div>
            </section>

            <!--SECTION02-->
            <hr class="margin-top:15px;">
            <h5 class="layout-5" style="color : white;text-align:center;height:45px;line-height:45px;background-color:darkcyan">경매</h5>
            <hr>
            <section class="section2 ">

                <div class="left layout-5">
                        <span style="font-size : 1rem;">이번주 경매일정</span> <span style="font-size : .7rem;font-weight:800;color:green">경매일정 전체보기 ></span>
                        <hr>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <span>06월 10일(월)</span>
                                    <span>22 건</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span>06월 10일(월)</span>
                                    <span>22 건</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span>06월 10일(월)</span>
                                    <span>22 건</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span>06월 10일(월)</span>
                                    <span>22 건</span>
                                </a>
                            </li>
                            <li class="today">
                                <a href="javascript:void(0)">
                                    <span>06월 10일(월)</span>
                                    <span>22 건</span>
                                </a>
                            </li>
                        </ul>
                </div>
                <div class="right layout-5">
                    <span style="font-size : 1rem;">진행중인 경매</span>
                    <hr>
                    <div class="images-block">
                        <!-- Slider main container -->
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide"><a href="">
                                    <span class="material-symbols-outlined">military_tech</span>
                                    <img src="">
                                </a></div>
                                <div class="swiper-slide"><a href=""><img src=""></a></div>
                                <div class="swiper-slide"><a href=""><img src=""></a></div>
                                <div class="swiper-slide"><a href=""><img src=""></a></div>
                                <div class="swiper-slide"><a href=""><img src=""></a></div>
                                <div class="swiper-slide"><a href=""><img src=""></a></div>
                                <div class="swiper-slide"><a href=""><img src=""></a></div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev">
                                <span class="material-symbols-outlined">arrow_left</span>
                            </div>
                            <div class="swiper-button-next">
                                <span class="material-symbols-outlined">arrow_right</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>





            <!--
            <section class="section2 ">
                <div class="left layout-5">
                    <canvas id=""></canvas>
                </div>
                <div class="right layout-5"></div>
            </section>
            -->


        </main>


        <!-- Footer        -->
        <footer>
            <th:block th:insert="fragments/footer :: footerFragment" />
        </footer>

    </div>




</body>
</html>