<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />

</head>
<body>
    
    <div class="wrapper">

        <!-- header   -->
        <th:block th:insert="fragments/header :: headerFragment" />

        <!-- nav       -->
        <th:block th:insert="fragments/nav :: navFragment" />


        <main>
            <div class="top-bar">

            </div>

            <!-- section - top -->
            <section class="section-1">
                <h1 class="lefttext movingleft">
                    창의성과 소통의 플랫폼, <br>
                    이달의 컨텐츠 랭킹에서 <br>
                    새로운 재능을 발견하세요!
                </h1>
                <img class="photo" src="/assets/polaroid.png" alt="">

                <a href="">보러가기</a>

            </section>

            <section class="section-2">
                <div class="right-2">
                    <h1 class="movingright">
                        새로운 genAI 기반 교육을 <br>
                        경험하세요!
                    </h1>
                    <p>
                        AI가 선별한 최신 컨텐츠로  <br>
                        지식을 확장하고 <br>
                        함께 배우고 나누는  <br>
                        새로운 경험을 시작해보세요!
                    </p>
                </div>
                <img src="/assets/brain.png" alt="">

            </section>

            <section class="section-3">
                <a href="">
                    <div class="middle-bar">
                        경매 간단 설명 및 페이지 이동
                    </div>
                </a>
            </section>

            <!-- section - bottom -->
            <!-- 박스 호버 시 불투명한 검정 배경 깔리게하기(투명도 약하게 조절) -->
            <div class="box1">
                <div class="category">
                    <img src="/assets/character.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>

                </div>
                <div class="category">
                    <img src="/assets/city.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>
                <div class="category">
                    <img src="/assets/map.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>
                <div class="category">
                    <img src="/assets/icon.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>

            </div>
            <div class="box1">
                <div class="category">
                    <img src="/assets/furniture.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>
                <div class="category">
                    <img src="/assets/car.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>
                <div class="category">
                    <img src="/assets/place.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>
                <div class="category">
                    <img src="/assets/others.jpg">
                    <a href="">
                        <span class="material-symbols-outlined">search</span> 보러가기
                    </a>
                </div>
            </div>

        </main>


        <!-- Footer        -->
        <footer>
            <th:block th:insert="fragments/footer :: footerFragment" />
        </footer>

    </div>
    
</body>
</html>