<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

<!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
-->

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />

    <!-- join.css-->
    <link rel="stylesheet" href="/css/user/index_join.css">

    <link rel="stylesheet" href="/css/index_login.css">


    <!-- index.css-->

    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="/css/mobile/index.css" media="all and (max-width:450px)">


    <!-- index.js   -->
    <script src="/js/index.js" defer> </script>

    <script src="/js/user/index_join.js" defer> </script>

    <!-- chart.js    -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>


    <script th:inline="javascript">
        let  list = /*[[${ list}]]*/
        let  list2 = /*[[${ list2}]]*/
        let  imageCountMap = /*[[${ imageCountMap}]]*/
        let  musicCountMap = /*[[${ musicCountMap}]]*/

        console.log("list",list);
        console.log("list2",list2);
        console.log("imageCountMap",imageCountMap);
        console.log("musicCountMap",musicCountMap);



        eventList = [];
        list.forEach(el=>{
            console.log(el);
            let eventObject=null;
            if(el.status=='경매승인')
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'gray'};
            else if(el.status=='경매중'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'green'};
            }else if(el.status=='경매중지'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'red'};
            }else if(el.status=='낙찰완료'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'orange'};
            }else if(el.status=='결제완료'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'blue'};
            }else if(el.status=='송금완료'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'darkcyan'};
            }else{
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'white'};
            }
            eventList.push(eventObject)
        });
        list2.forEach(el=>{
            console.log(el);
            let eventObject=null;
            if(el.status=='경매승인')
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'gray'};
            else if(el.status=='경매중'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'green'};
            }else if(el.status=='경매중지'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'red'};
            }else if(el.status=='낙찰완료'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'orange'};
            }else if(el.status=='결제완료'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'blue'};
            }else if(el.status=='송금완료'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'darkcyan'};
            }else{
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,color:'white'};
            }
            eventList.push(eventObject)
        });

    </script>
    <script>
        var calendar = null;
        document.addEventListener('DOMContentLoaded', function() {

                  var calendarEl = document.getElementById('calendar');
                  calendar = new FullCalendar.Calendar(calendarEl, {
                    locale: "ko",
                    initialView: 'dayGridWeek',
                    selectable : false,
                    events : eventList,

                    //Date 클릭시 표시
                    dateClick : function(info){
                        console.log(info);
                        //addEventToCalendar({start:info.dateStr})
                    },
                    eventClick:function(info){
                        console.log(info.event._def);
                        const calenderEventModal = document.querySelector('.calenderEventModal');
                        calenderEventModal.click();
                        const exampleModal2= document.getElementById('exampleModal2');
                        const modelBody =  exampleModal2.querySelector('.modal-body');
                        modelBody.innerHTML = info.event._def;

                    },
                  });
                  calendar.render();
                  //기존 이벤트 업로드

                  calendarEl.style.height="300px";


        });

                function addEventToCalendar(event){
                    calendar.addEvent(event);
                };
    </script>


</head>
<body>
    
    <div class="wrapper">

        <!-- header   -->
        <th:block th:insert="fragments/header :: mainHeaderFragment" />

        <!-- nav       -->
        <th:block th:insert="fragments/nav :: navFragment" />


        <main>


<!--            <hr class="margin-top:15px;">
            <h5 class="layout-5" style="color : white;text-align:center;height:45px;line-height:45px;background-color:darkcyan">미리 보기</h5>
            <hr>
            -->

<!--            <div th:text="${imageRankingPopular}"></div>-->
            <section class="section1 ">
                <div class="bg">

                </div>
                <div class="left layout-5 mb-5">
                    <!--이미지 블록-->
                    <div class="image-block">
                        <div class="title-header mb-4">
                            <h4 class="">이미지 순위</h4>
                            <div class="ms-1">
                                <a href="javascript:void(0)" class="me-1 count-btn"><span>조회</span></a>
                                <a href="javascript:void(0)" class="like-btn"><span>좋아요</span></a>
                            </div>
                        </div>

                        <!--조회순-->
                        <div class="count-order mb-3">
                            <div class="title mb-3">
                                <h6>조회순 TOP 10</h6>
                            </div>
                            <div class="show-block img-body-order">
                                <div class="swiper-slide" th:if="${#lists.size(imageTop10ByCount)==0}" style="display:flex;align-items:center;justify-content:center;">
                                    표시할 이미지가 없습니다.
                                </div>
                                <!-- Slider main container -->
                                <div class="swiper ">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">
                                        <!-- Slides -->
                                        <div class="swiper-slide" th:each="imageRanking,imageRankingStat : ${imageTop10ByCount}">
                                            <a th:href="@{/imageRanking/read(rankingId=${imageRanking.rankingId})}">
                                                <img  th:src="@{${imageRanking.ImagesFileInfo.dir}+'\\'+${imageRanking.ImagesFileInfo.filename}}" alt="인증필요" style=""></img>
                                            </a>
                                            <div class="item-title" style="" th:text="${imageRanking.ImagesFileInfo.Images.title}"></div>
                                            <div class="item-count" >
                                                <span class="material-symbols-outlined" style="font-size:.6rem">visibility</span>&nbsp;&nbsp;
                                                <span th:text="${imageRanking.count}"></span>
                                            </div>
                                            <div class="imageInfo hidden">
                                                <div th:text="${imageRankingStat.count}"></div>
                                                <div th:text="${imageRanking.ImagesFileInfo.Images.subCategory}"></div>
                                                <div th:text="${imageRanking.count}"></div>
                                                <div ></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- If we need navigation buttons -->
                                <div class="swiper-button-prev">
                                    <span class="material-symbols-outlined" >arrow_left</span>
                                </div>
                                <div class="swiper-button-next">
                                    <span class="material-symbols-outlined" >arrow_right</span>
                                </div>

                            </div>
                        </div>

                        <div class="like-order mb-3 hidden">
                            <div class="title  mb-3">
                                <h6>좋아요 순  TOP 10</h6>
                            </div>
                            <div class="show-block img-body-like">
                                <!-- Slider main container -->
                                <div class="swiper ">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" th:if="${#lists.size(imageTop10ByLike)==0}" style="display:flex;align-items:center;justify-content:center;">
                                            표시할 이미지가 없습니다.
                                        </div>
                                        <!-- Slides -->
                                        <div class="swiper-slide" th:each="imageRanking,imageRankingStat : ${imageTop10ByLike}">
                                            <a th:href="@{/imageRanking/read(rankingId=${imageRanking.rankingId})}">
                                                <img  th:src="@{${imageRanking.ImagesFileInfo.dir}+'\\'+${imageRanking.ImagesFileInfo.filename}}" alt="인증필요" style=""></img>
                                            </a>
                                            <div class="item-title" style="" th:text="${imageRanking.ImagesFileInfo.Images.title}"></div>
                                            <div class="item-count" >
                                                <span class="material-symbols-outlined" style="font-size:.6rem">thumb_up</span>&nbsp;&nbsp;
                                                <span th:text="${imageRanking.ilikeit}"></span>
                                            </div>
                                            <div class="imageInfo hidden">
                                                <div th:text="${imageRankingStat.count}"></div>
                                                <div th:text="${imageRanking.ImagesFileInfo.Images.subCategory}"></div>
                                                <div th:text="${imageRanking.count}"></div>
                                                <div th:text="${imageRanking.ilikeit}"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- If we need navigation buttons -->
                                <div class="swiper-button-prev">
                                    <span class="material-symbols-outlined" >arrow_left</span>
                                </div>
                                <div class="swiper-button-next">
                                    <span class="material-symbols-outlined" >arrow_right</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <hr>
                    <!-- MUSIC -->
                    <div class="music-block">
                        <div class="title-header mb-4 mt-4">
                            <h4 class="">음악 순위</h4>
                            <div class="ms-1">
                                <a href="javascript:void(0)" class="me-1 count-btn"><span>조회</span></a>
                                <a href="javascript:void(0)" class="like-btn"><span>좋아요</span></a>
                            </div>
                        </div>
                        <!--조회순-->
                        <div class="mb-3 count-order">
                            <div class="title mb-3">
                                <h6>조회순 TOP 10</h6>
                            </div>
                            <div class="show-block m-body-order">
                                <!-- Slider main container -->
                                <div class="swiper ">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">
                                        <!-- Slides -->
                                        <div class="swiper-slide" th:if="${#lists.size(musicTop10ByCount)==0}" style="display:flex;align-items:center;justify-content:center;">
                                            표시할 음악 이미지가 없습니다.
                                        </div>
                                        <div class="swiper-slide" th:each="musicRanking,musicRankingStat : ${musicTop10ByCount}">
                                            <a th:href="@{/musicRanking/read(rankingId=${musicRanking.rankingId})}">
                                                <img  th:src="@{${musicRanking.MusicFileInfo.dir}+'/'+${musicRanking.MusicFileInfo.albumImageName}}" alt="인증필요" ></img>
                                            </a>
                                            <div class="item-title" style="" th:text="${musicRanking.MusicFileInfo.Music.title}"></div>
                                            <div class="item-count" >
                                                <span class="material-symbols-outlined" style="font-size:.6rem">visibility</span>&nbsp;&nbsp;
                                                <span th:text="${musicRanking.count}"></span>
                                            </div>
                                            <div class="musicinfo hidden">
                                                <div th:text="${musicRanking.MusicFileInfo.Music.subCategory}"></div>
                                                <div th:text="${musicRanking.count}"></div>
                                                <div th:text="${musicRanking.ilikeit}"></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <!-- If we need navigation buttons -->
                                <div class="swiper-button-prev">
                                    <span class="material-symbols-outlined" >arrow_left</span>
                                </div>
                                <div class="swiper-button-next">
                                    <span class="material-symbols-outlined" >arrow_right</span>
                                </div>
                            </div>
                        </div>

                        <!--좋아요순-->
                        <div class="mb-3 hidden like-order">
                            <div class="title mb-3">
                                <h6 >좋아요 순 TOP 10</h6>
                            </div>
                            <div class="show-block m-body-like">
                                <!-- Slider main container -->
                                <div class="swiper ">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" th:if="${#lists.size(musicTop10ByLike)==0}" style="display:flex;align-items:center;justify-content:center;">
                                            표시할 음악 이미지가 없습니다.
                                        </div>
                                        <!-- Slides -->
                                        <div class="swiper-slide" th:each="musicRanking,musicRankingStat : ${musicTop10ByLike}">
                                            <a th:href="@{/musicRanking/read(rankingId=${musicRanking.rankingId})}">
                                                <img  th:src="@{${musicRanking.MusicFileInfo.dir}+'/'+${musicRanking.MusicFileInfo.albumImageName}}" alt="인증필요" ></img>
                                            </a>
                                            <div class="item-title"  th:text="${musicRanking.MusicFileInfo.Music.title}"></div>
                                            <div class="item-count" >
                                                <span class="material-symbols-outlined" style="font-size:.6rem">thumb_up</span>&nbsp;&nbsp;
                                                <span th:text="${musicRanking.ilikeit}"></span>
                                            </div>
                                            <div class="musicinfo hidden">
                                                <div th:text="${musicRanking.MusicFileInfo.Music.subCategory}"></div>
                                                <div th:text="${musicRanking.count}"></div>
                                                <div th:text="${musicRanking.ilikeit}"></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <!-- If we need navigation buttons -->
                                <div class="swiper-button-prev">
                                    <span class="material-symbols-outlined" >arrow_left</span>
                                </div>
                                <div class="swiper-button-next">
                                    <span class="material-symbols-outlined" >arrow_right</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <hr>

                <div class="right layout-5">
                    <div class="title-header mb-4 mt-2">
                        <h4 class="">CHART</h4>
                        <!--
                            <div class="ms-1">
                            <a href="javascript:void(0)" class="me-1"><span>이미지</span></a>
                            <a href="javascript:void(0)" class=""><span>음악</span></a>
                        </div>
                        -->
                    </div>

                    <div class="chart-show-block">
                            <div>
                                <h6>이미지 CHART</h6>
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <canvas style="" id="section1Chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-prev">
                                    <span class="material-symbols-outlined" >arrow_left</span>
                                </div>
                                <div class="swiper-button-next">
                                    <span class="material-symbols-outlined" >arrow_right</span>
                                </div>
                            </div>
                            <div>
                                <h6>음악 CHART</h6>
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><canvas style="position:relative;z-index:1;"  id="section1Chart2"></canvas></div>
                                    </div>
                                </div>
                                <div class="swiper-button-prev">
                                    <span class="material-symbols-outlined" >arrow_left</span>
                                </div>
                                <div class="swiper-button-next">
                                    <span class="material-symbols-outlined" >arrow_right</span>
                                </div>
                            </div>


                    </div>



                </div>


            </section>




            <!--SECTION02-->
            <hr>
            <section class="section2">
                <div class="title-header mb-4 mt-4 layout-5" style="width:100%;">
                    <h4 class="" style="text-align:left;">경매 현황</h4>
                </div>
                <div class="left layout-5">
                        <span style="font-size : 1.2rem;">이번주 경매 일정</span> <a href="/trading/calendar/main"><span style="font-size : .7rem;font-weight:800;color:green">경매일정 전체보기 ></span></a>
                        <hr>
                    <div id='calendar' class="layout-5" style="height:300px;width:100%;"></div>
                </div>
                <br><br>
                <div class="right layout-5">
                    <span style="font-size : 1.2rem;">이미지 경매 현황</span>
                    <hr>
                    <div class="images-block">
                        <!-- Slider main container -->
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide" th:if="${#lists.size(list)==0}" style="display:flex;align-items:center;justify-content:center;">
                                    경매진행중인 내용이 없습니다.
                                </div>
                                <div class="swiper-slide" th:each="tradingImageDto:${list}">
<!--                                   <div th:text="${imageRankingDto}"></div>-->
                                    <a href="javascript:void(0)" class="tradingImageBtn"
                                       th:data-tradingid="${tradingImageDto.tradingid}"
                                       th:data-seller="${tradingImageDto.seller}"
                                       th:data-buyer="${tradingImageDto.buyer}"
                                       th:data-status="${tradingImageDto.status}"
                                       th:data-title="${tradingImageDto.title}"
                                       th:data-startPrice="${tradingImageDto.startPrice}"
                                       th:data-auctionStartTime="${tradingImageDto.auctionStartTime}"
                                       th:data-auctionEndTime="${tradingImageDto.auctionEndTime}"
                                       th:data-price="${tradingImageDto.price}"

                                    >
                                        <img th:src="@{${tradingImageDto.fileDir}+'\s_'+${tradingImageDto.filename}}" alt="">
                                    </a>
                                </div>
                                <!-- If we need navigation buttons -->
                                <div class="swiper-button-prev">
                                    <span class="material-symbols-outlined" style="">arrow_left</span>
                                </div>
                                <div class="swiper-button-next">
                                    <span class="material-symbols-outlined" style="">arrow_right</span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <br><br>
                    <span style="font-size : 1.2rem;">음악 경매 현황</span>
                    <hr>
                    <div class="images-block">
                        <!-- Slider main container -->
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" th:if="${#lists.size(list2)==0}" style="display:flex;align-items:center;justify-content:center;">
                                    경매진행중인 내용이 없습니다.
                                </div>
                                <!-- Slides -->
                                <div class="swiper-slide" th:each="tradingMusicDto:${list2}">
                                    <!--                                   <div th:text="${imageRankingDto}"></div>-->
                                    <a href="javascript:void(0)" class="tradingMusicBtn"
                                       th:data-tradingid="${tradingMusicDto.tradingid}"
                                       th:data-seller="${tradingMusicDto.seller}"
                                       th:data-buyer="${tradingMusicDto.buyer}"
                                       th:data-status="${tradingMusicDto.status}"
                                       th:data-title="${tradingMusicDto.title}"
                                       th:data-startPrice="${tradingMusicDto.startPrice}"
                                       th:data-auctionStartTime="${tradingMusicDto.auctionStartTime}"
                                       th:data-auctionEndTime="${tradingMusicDto.auctionEndTime}"
                                       th:data-price="${tradingMusicDto.price}"
                                    >
                                        <img  th:src="${tradingMusicDto.fileDir}+'/'+${tradingMusicDto.albumImageName}" alt="인증필요"></img>
                                    </a>
                                </div>
                                <!-- If we need navigation buttons -->
                                <div class="swiper-button-prev">
                                    <span class="material-symbols-outlined" style="font-size :4rem;">arrow_left</span>
                                </div>
                                <div class="swiper-button-next">
                                    <span class="material-symbols-outlined" style="font-size :4rem;">arrow_right</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>


            <!--
            <section class="section2 ">
                <div class="left layout-5">
                    <canvas id=""></canvas>
                </div>
                <div class="right layout-5"></div>
            </section>
            -->


        </main>


        <!-- Footer        -->
        <footer>
            <th:block th:insert="fragments/footer :: footerFragment" />
        </footer>

    </div>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary tradingImageModalBtn"  style="display:none;" data-bs-toggle="modal" data-bs-target="#tradingImageModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div   class="modal fade" id="tradingImageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">경매정보 확인</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <table class="table w-100" style="font-size: .7rem" >
                        <tr>
                            <td class="bg-dark text-light" style="width:100px;">경매ID</td>
                            <td class="modal-tradingid"></td>
                            <td class="bg-dark text-light" style="width:100px;">상태</td>
                            <td class="modal-status"></td>

                        </tr>
                        <tr>
                            <td class="bg-dark text-light">판매자</td>
                            <td class="modal-seller"></td>
                            <td class="bg-dark text-light">구매자</td>
                            <td class="modal-buyer"></td>
                        </tr>
                        <tr>
                            <td class="bg-dark text-light">시작가</td>
                            <td class="modal-startPrice"></td>
                            <td class="bg-dark text-light">낙찰가</td>
                            <td class="modal-price"></td>
                        </tr>
                        <tr>
                            <td class="bg-dark text-light">경매시작 시간</td>
                            <td class="modal-auctionStartTime"></td>
                            <td class="bg-dark text-light">경매종료 시간</td>
                            <td class="modal-auctionEndTime"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" style="font-size: .7rem"  class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>





</body>
</html>