<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />

    <!-- login.css -->
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>
    
    <div class="wrapper">
        <div class="top-header layout-5">
            <div class="left">
                <a href="/">
                    LOGO
                </a>
            </div>
            <!-- 
            <div class="center">
               <ul>
                    <li><span>USER10</span> 님</li>
                    <li><a href="">로그아웃</a></li>
               </ul>
            </div>
            
            <div class="right">
                <a href="/index.html">
                   <img src="assets/top-header-left.jpg" alt=""> 
                </a>
            </div>
             -->
        </div>
        <!-- <nav class="layout-5">
 

        </nav> -->
        <main>
            <section>
                <div>
                    <form action="/login" method="post" >
                        <div class="item image">
                            
                         </div>
                        <div class="item title">
                           <h1>LOGIN</h1>
                        </div>
                        <div class="item">
                            <label for="">아이디 : </label>
                            <input type="text" class="form-control" placeholder="아이디를 입력하세요" name="username">
                        </div>
                        <div class="item">
                            <label for="">패스워드 : </label>
                            <input type="password"  class="form-control"  placeholder="패스워드를 입력하세요" name="password">
                        </div>
                        <div class="item submenu">
                            <div>
                                <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me">
                                <label for="rememberMe">REMEMBER_ME</label>
                            </div>
                            <div>
                                <a href="/user/confirmId">아이디 분실</a> |
                                <a href="/user/confirmPw">패스워드 분실</a>
                            </div>
                        </div>
                        <div class="item">
                            <label for=""></label>
                            <button class="btn btn-primary w-100">로그인</button>
                        </div>
                        <div class="item">
                            <label for=""></label>
                            <a href="/user/join" class="btn btn-secondary w-100" >회원가입</a>
                        </div>
                    </form>
                </div>
            </section>
        </main>
        <footer></footer>
    </div>
    
</body>
</html>