.wrapper>main{

}
.wrapper>main>*{margin : 50px 50px;}

.wrapper>main>section.product_img_block{
   
}
.product_img{
    width : 26.042vw;
    height: 45vh;
    max-height : 500px;
    position: relative;
}
.product_music{
    width : 26.042vw;
    height: 45vh;
    max-height : 500px;
    position: relative;
}
.upload-box {
  width: 100%;
  max-width : 500px;
  height : 100%;

  margin: 10px auto;

  padding: 5px !important;
  position: relative;


}
.upload-box::before{
    content : "이미지를 드래그하세요";
    display:block;
    position:absolute;
    left:0px;
    top:50px;
    width : 100%;
    max-width : 500px;
    height : 100%;
    text-align:center;
    color:lightgray;
    margin-top:10px;
}

.product_music .upload-box::before{
    content : "음악앨범 사진을 드래그하세요";
}

.plus {
  height:100%;
  display:flex;
  justify-content:center;
  align-items: center;

  font-size: 7em;
  color: lightgray;
  position:relative;
  top:-5%;
}

.preview_img_block{
    position:relative;
    top : 10px;


}
#preview {
    width : 100%;
    height : 100px;
    margin: 10px auto;
    border : 1px dashed lightgray;

    padding: 10px;
    position: relative;
    left:0px;
    top:00px;

    display: flex;
    justify-content: center;
    align-items : center;
    flex-wrap: wrap;
    overflow: auto;
}

#preview img {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    margin : 2px;
}



.product_info_block{
    position:relative;
}
section form{
    width : 500px;
}
.product_info_block>form>*{
    margin-bottom:5px;
}

.product_info_block label{
    margin:5px 0px;
}

.hidden{
    display:none !important;
}

/*  */
section.content_block *{


}
section.content_block{}
section.content_block>.head{
    height : 50px;
    display:flex;
    align-items : center;
    justify-content : left;
    position: relative;
}
section.content_block>.head>*{

    height : 100%;
    display:flex;
    align-items : center;
    justify-content : left;

}
section.content_block>.head>* input{
    display:none;
}
section.content_block>.head>* label{
    display:flex;
    width : 100%;
    height : 100%;
    align-items : center;
    justify-content : center;
    cursor : pointer;
    font-size :1rem;

    background-color: #0a0b17 ;
    color : white;
    opacity : .6;
    border : 1px solid;
    padding :15px;
}
section.content_block>.head>*:nth-child(1) label{
    opacity : 1;
}
section.content_block>.head>* label:hover{
    opacity : 1;
}
section.content_block>.head>*:nth-child(1) label{
   border-radius :5px 0 0 0 ;
}
section.content_block>.head>*:nth-child(2) label{
    border-radius : 0 5px 0 0;
}

.head .line{
    position:absolute;
    left:0;
    top:49px;
    padding : 0;
    width : 100%;
    height : 0px;
    border-top : 1px solid gray;
}


section.content_block>.head>* label:hover{
    opacity : 1;
}



section.content_block>.body{
    height : 800px;
}

section.content_block>.body>.image_body,
section.content_block>.body>.music_body{
    height : 100%;
    padding : 20px;
    padding-top:50px;
    display:flex;
    justify-content : space-evenly;
    align-items : start;
    /*border : 1px solid darkcyan;*/
    border-top : 0px;
}

section.content_block>.body>.image_body{

}
section.content_block>.body>.music_body{

}

section.content_block>.body>.music_body form{
    /*border :1px solid;*/
}
section.content_block>.body>.music_body . btn-block{
    display:flex;
    justify-content : center;
    align-items : center;

}
section.content_block>.body>.music_body button{
   width : 100%;
   background-color:darkcyan;
   color : white;
}

.content_block .active{
    background-color : gray;
    color : white;
}