
.wrapper{

}
.wrapper>main>section{}


.myalbumblock{
    display:flex;
    justify-content : space-between;
    align-items : start;

    position:relative;
}


.mymenu{
    width : 300px;
    height : 100vh;

    border : 3px solid darkcyan;
    padding : 15px;

    display:flex;
    justify-content : center;
    align-items : start;
}
.mymenu>.menus{
    width : 100%;
}
.mymenu>.menus>li{
    border : 1px solid darkcyan;
    margin : 5px;
    width : 100%;
    height :45px;
    line-height : 45px;
    text-align : center;
}



.wrapper>main>section.control-block{
    width : 100%;
    display:flex;
    justify-content : right;
    align-items : center;
    height : 70px;

}
.wrapper>main>section.control-block>.controller{
    display:flex;
    justify-content : right;
    align-items : center;
    position:relative;
}

.wrapper>main>section.control-block>.controller:hover .filter-icon{
    color: #222;
    display:block;
}
.modal {
    display: none;
    position: absolute;
    top: 50px;
    left : -270px;
    background-color: #fff;
    opacity: 0.9;
    width: 300px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 6px rgba(0,0,0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal .cancel{
    text-align:right;
    position:absolute;
    right : 20px;
    top : 0px;
    width : 100%;
    display:flex;
    justify-content : right;
    align-items : center;
    width : 30px;
    font-size : .8rem;
}
.wrapper>main>section.control-block>.controller>.search{

}
.wrapper>main>section.control-block>.controller>.search>input[type='checkbox']{
    display:none;

}
.wrapper>main>section.control-block>.controller>.search>label{
    height : 25px;
    width:35px;
    cursor: pointer;
    position:absolute;
    top : 0px;
    left:-25px;
    z-index:3;

}
.wrapper>main>section.control-block>.controller>.search>input[type='text']{
    visibility:visible;
    position:absolute;
    left:-220px;
    top:0px;
    width:0px;
    height :0px;
    opacity:0;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color:black;
    font-size:1rem;
    padding : 3px;
    font-size : 1rem;

}
.wrapper>main>section.control-block>.controller>.search>input[type='checkbox']:checked+label{
    left:30;
}
.wrapper>main>section.control-block>.controller>.search>input[type='checkbox']:checked~input[type="text"]{
        visibility: visible;
        width : 200px;
        opacity : 1;
        height : 30px;

}


.hidden{
    display: none;
}

.filter_title {
    font-size: 24px;
    font-weight: 600;
    color: darkcyan;
    margin: 0;
    padding: 0;
}

.category_detail,
.filter_button_area {
    width: 100%;
}

.category_detail ul,
.filter_button_area ul {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    flex-wrap: wrap;

}

.filter_button_area ul {
    display: flex;
}

.category_detail ul li {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.filter_button_area {
    margin: 20px 0;
}

.filter_button_area ul{
    display: flex;
    justify-content: space-around  ;
}

.filter_button_area ul li {
    list-style: none;
    margin: 0 5px;
}

.filter_button_area ul li button {
    background-color: transparent;
    border: none;
    width: 60px;
    background: #eee;
    padding: 5px 0;
    margin: 5px 0 0 0;
    border-radius: 100px;
    cursor: pointer;

}
.filter_button_area ul li button:hover,
.filter_button_area ul li button:visited,
.filter_button_area ul li button.active {
    background: #222;
    color: #fff;
}

.album_button_area{
    display: flex;

}
.modal_closeBtn{
    border: none;
    width: 100px;
    padding: 0;
    margin-top: 15px;
}
.modal_closeBtn:hover{
    background: #222;
    color: #fff;
}



/* 이미지 표시 부분 */


.wrapper>main>section>.show-block{
    width : 100%;
    /* background-color: orange; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/*
    border : 1px solid lightgray;
*/

    border-top : 1px solid gray;
    position:relative;
    top:35px;
}

.my-btn{
    position:absolute;
    left:0px;
    top:-35px;
    width : 150px;
    height:35px;
    border : 1px solid;

    display:flex;
    justify-content : center;
    align-items : center;
    background-color: #0a0b17;
    color : white;
    cursor : pointer;
    border-radius : 5px 5px 0 0 ;
}

.myalbumblock .active{
    background-color : gray  !important;
}

.hidden{
    display:none !important;;
}

.wrapper>main>section>.show-block .my-btn:nth-child(2)
{
    left:150px;
}

.wrapper>main>section>.show-block>.controller>div{
    margin :3px;
}

.wrapper>main>section>.show-block>.controller .btn-primary{
    background-color:#222;
    border: none;
}
.wrapper>main>section>.show-block>.controller .btn-primary:hover{
    background-color:gray;
}
.wrapper>main>section>.show-block>.controller>div:first-child{
    height : 100%;
    font-size : 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper>main>section>.show-block>.controller>div button{
    border-radius: 0px;
}

.wrapper>main>section>.show-block>.items{
    /* border : 1px solid; */
    width : 100%;
    height : 100%;
    text-align:center;
    position: relative;
    display:flex;
    justify-content: left;
    align-items: start;
    gap:20px;
    flex-wrap: wrap;
    padding-top : 20px;
}

.wrapper>main>section>.show-block>.items>.item{
    opacity:.8;
    width :calc(20% - 20px);

    transition:.5s;
}

.wrapper>main>section>.show-block>.items>.item>*{
    cursor: pointer;
}

.wrapper>main>section>.show-block>.items>.item>.image-block{
    position: relative;
    width :(25% - 20px);
    max-height:300px;
    overflow : hidden;
}
.wrapper>main>section>.show-block>.items>.item>.music-block{
    position: relative;
    width :(25% - 20px);
    max-height:300px;
    overflow : hidden;
}
.wrapper>main>section>.show-block>.items>.item>.image-block img{
    width : 100%;
    height : 100%;
    object-fit: contain;
}
.wrapper>main>section>.show-block>.items>.item>.music-block img{
    width : 100%;
    height : 100%;
    object-fit: contain;
}
/* .wrapper>main>section>.show-block>.items>.item>.image-block::after{
    display:block;
    content:"";
    background-color:rgba(0,0,0,0);
    width: 100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
} */



.wrapper>main>section>.show-block>.items>.item:hover{
    opacity:1;

}
.wrapper>main>section>.show-block>.items>.item img{
    transition:.2s;
}
.wrapper>main>section>.show-block>.items>.item:hover img{
    background-color:rgba(0,0,0,0);
    transform : scale(1.2);
}
.wrapper>main>section>.show-block>.items>.item>.image-block>img{
    width :(25% - 20px);
    height : 100%;
    border-radius: 10px;
    object-fit: cover;
}

.wrapper>main>section>.show-block>.items>.item .contents{
    position:relative;
    width: 100%;
    height : 50px;
    font-size : .7rem;
    display:flex;
    justify-content:space-between;
    align-items :stretch;
    font-size : .7rem;
    color: white;
    padding-top : 5px;
}
.wrapper>main>section>.show-block>.items>.item .title{
    width: 50%;
    font-size : .7rem;
    color: white;
    text-align: left;
    white-space: nowrap;   /* 텍스트가 한 줄로 유지되도록 설정합니다. */
    overflow: hidden;      /* 넘치는 텍스트를 숨깁니다. */
    text-overflow: ellipsis; /* 넘치는 텍스트를 말줄임표(...)로 대체합니다. */
}
.wrapper>main>section>.show-block>.items>.item .contents>.date{
    font-size : .5rem;
    width : 50%;
    text-align:right;
}
.wrapper>main>section>.show-block>.items>.item>.contents .favorite{
    color: white;
    padding : 1px;
    font-size : 1.2rem;
    transition:.5s;
}
.wrapper>main>section>.show-block>.items>.item>.contents .favorite:hover{
    background-color : darkcyan;
    color : tomato;
}



.wrapper>main>section>.show-block .footer-block{
    margin-top:15px;
}
.wrapper>main>section>.show-block .footer-block .pagination{
    /* border: 1px solid black; */
}
.wrapper>main>section>.show-block .footer-block .pagination .page-item{
    /* border: 1px solid black; */

}
.wrapper>main>section>.show-block .footer-block .pagination .page-item .page-link{
    /* border: 1px solid black; */
    color: gray;
    font-size: 0.8rem;
}

.wrapper>main>section>.show-block .footer-block .pagination .page-item .previous{
    border-radius: 30px 0 0 30px;
    padding-right: 10px;
}
.wrapper>main>section>.show-block .footer-block .pagination .page-item .next{
    border-radius: 0 30px 30px 0;
    padding-left: 10px;

}
.wrapper>main>section>.show-block>.items>.item>.music-block{
    position: relative;
    width :(25% - 20px);
    max-height:300px;
    /* border : 1px solid; */
}
.wrapper>main>section>.show-block>.items>.item>.music-block img{
    width : 100%;
    height : 100%;
    max-height:300px;
    object-fit: contain;
}