<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
-->
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />


    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>


    <script th:inline="javascript">
        let  list = /*[[${ list}]]*/
        let  list2 = /*[[${ list2}]]*/
        console.log(list);
        eventList = [];
        list.forEach(el=>{
            console.log(el);
            let eventObject=null;
            if(el.status=='경매승인')
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'gray'};
            else if(el.status=='경매중'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'green'};
            }else if(el.status=='경매중지'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'red'};
            }else if(el.status=='낙찰완료'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'orange'};
            }else if(el.status=='결제완료'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'blue'};
            }else if(el.status=='송금완료'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'darkcyan'};
            }else{
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'white'};
            }
            eventList.push(eventObject)
        });
        list2.forEach(el=>{
            console.log(el);
            let eventObject=null;
            if(el.status=='경매승인')
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'gray'};
            else if(el.status=='경매중'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'green'};
            }else if(el.status=='경매중지'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'red'};
            }else if(el.status=='낙찰완료'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'orange'};
            }else if(el.status=='결제완료'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'blue'};
            }else if(el.status=='송금완료'){
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'darkcyan'};
            }else{
                eventObject={id:el.tradingid,title:el.title,start:el.auctionStartTime,end:el.auctionEndTime,color:'white'};
            }
            eventList.push(eventObject)
        });

    </script>
    <script>
        var calendar = null;
        document.addEventListener('DOMContentLoaded', function() {
                  var calendarEl = document.getElementById('calendar');
                  calendar = new FullCalendar.Calendar(calendarEl, {
                    locale: "ko",
                    initialView: 'dayGridMonth',
                    selectable : true,
                    events : eventList,
                    //Date 클릭시 표시
                    dateClick : function(info){
                        console.log(info);
                        //addEventToCalendar({start:info.dateStr})
                    },
                    eventClick:function(info){
                       // console.log(info);

                        const status = document.querySelector('.modal .status');
                        const seller = document.querySelector('.modal .seller');
                        const buyer = document.querySelector('.modal .buyer');
                        const startPrice = document.querySelector('.modal .startPrice');
                        const price = document.querySelector('.modal .price');
                        const auctionStartTime = document.querySelector('.modal .auctionStartTime');
                        const auctionEndTime = document.querySelector('.modal .auctionEndTime');


                        const title = info.event._def.title;
                        console.log('title' , title);
                        if(title.includes("IMG")){

                            list.forEach(el=>{
                                if(el.tradingid ==title.split('_')[1]){
                                    console.log(el);
                                    status.innerHTML=el.status;
                                    seller.innerHTML=el.seller;
                                    buyer.innerHTML=el.buyer;
                                    startPrice.innerHTML=el.startPrice;
                                    price.innerHTML=el.price;
                                    auctionStartTime.innerHTML=el.auctionStartTime;
                                    auctionEndTime.innerHTML=el.auctionEndTime;
                                    return ;
                                }
                            });

                        }else if(title.includes("MUSIC")){
                            list2.forEach(el=>{
                                if(el.tradingid ==title.split('_')[1]){
                                    console.log(el);
                                    status.innerHTML=el.status;
                                    seller.innerHTML=el.seller;
                                    buyer.innerHTML=el.buyer;
                                    startPrice.innerHTML=el.startPrice;
                                    price.innerHTML=el.price;
                                    auctionStartTime.innerHTML=el.auctionStartTime;
                                    auctionEndTime.innerHTML=el.auctionEndTime;
                                    return ;
                                }
                            });

                        }


                        const calenderEventModal = document.querySelector('.calenderEventModal');
                        calenderEventModal.click();
                    },
                  });
                  calendar.render();
                  //기존 이벤트 업로드
        });
        function addEventToCalendar(event){
                    calendar.addEvent(event);
        };

    </script>

    <link rel="stylesheet" href="/css/trading/calendar/main.css">

</head>
<body>

<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="~{fragments/header :: mainHeaderFragment}" />

    <!-- nav       -->
    <th:block th:insert="~{fragments/nav :: navFragment}" />

    <main>
        <section class="layout-5 breadcrumb-block">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item"><a href="#">HOME</a></li>
                    <li class="breadcrumb-item"><a href="#">매매</a></li>
                    <li class="breadcrumb-item active" aria-current="page">이벤트달력</li>
                </ol>
            </nav>
        </section>

        <section class="banner">
            <div id='calendar' class="layout-5"></div>
        </section>
    </main>


    <!-- Footer        -->
    <footer>
        <th:block th:insert="~{fragments/footer :: footerFragment}" />
    </footer>

</div>



<!-- Button trigger modal -->
<button style="display:none;" type="button" class="btn btn-primary calenderEventModal" data-bs-toggle="modal" data-bs-target="#exampleModal2">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">경매 정보</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table w-100 p-2 m-2" style="font-size : .7rem;">
                    <tr>
                        <td class="bg-dark text-light">Status</td>
                        <td colspan="3" class="status"></td>

                    </tr>
                    <tr>
                        <td class="bg-dark text-light">판매자</td>
                        <td class="seller"></td>
                        <td class="bg-dark text-light">구매자</td>
                        <td class="buyer"></td>
                    </tr>
                    <tr>
                        <td class="bg-dark text-light">시작가</td>
                        <td class="startPrice"></td>
                        <td class="bg-dark text-light">낙찰가</td>
                        <td class="price"></td>
                    </tr>
                    <tr>
                        <td class="bg-dark text-light">경매시작</td>
                        <td class="auctionStartTime"></td>
                        <td class="bg-dark text-light">경매종료</td>
                        <td class="auctionEndTime"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button style="font-size : .7rem;" type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>