<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />

    <!-- /css/album/main.css -->
    <link rel="stylesheet" href="/css/user/album/main.css">

    <!-- /user/album/main.js -->
    <script src="/js/user/album/main.js" defer></script>

</head>
<body>
    
    <div class="wrapper">

        <!-- header   -->
        <th:block th:insert="fragments/header :: headerFragment" />

        <!-- nav       -->
        <th:block th:insert="fragments/nav :: albumNavFragment" />



        <main>

            <section class="layout-5 breadcrumb-block">
                <div class="">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">
                                <span class="">홈</span>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">갤러리</li>
                        </ol>
                    </nav>
                </div>
            </section>
            <section class="myalbumblock layout-5">

                <div class="image-block show-block layout-5">
                    <div class="my-btn btn-img active" style="">이미지</div>
                    <div class="my-btn btn-music" style="">음악</div>
                    <div class="items image-block">

                        <div class="item" th:each="item : ${list}">
                            <div class="title">
                                <span th:text="${item.images.title}"></span>
                            </div>
                            <div class="image-block">
                                <a th:href="@{/user/album/read(iamgeid=${item.images.iamgeid})}">
                                    <img th:src="@{${item.dir}+'\s_'+${item.filename}}" class="card-img-top" alt="...">
                                </a>
                            </div>
                            <div class="contents">
                                <div>
                                    <a href="javascript:void(0)">
                                        <span class="material-symbols-outlined favorite">favorite</span>
                                    </a>
                                </div>
                                <div><th:span th:text="${#temporals.format(item.images.createAt, 'yyyy-MM-dd HH:mm:ss')}"></th:span></div>
                            </div>
                        </div>

                    </div>


<!--                    -->
                    <div class="items music-block hidden">
                        <div class="item" th:each="item : ${musicList}">
                            <div class="title">
                                <span th:text="${item.music.title}">이미지 제목</span>
                            </div>
                            <div class="image-block">

                                <a th:href="@{/user/album/readmusic(musicid=${item.music.musicid})}">
                                    <img src="/assets/music.jpg" class="card-img-top" alt="...">
                                </a>

                            </div>
                            <div class="contents">
                                <div>
                                    <a href="javascript:void(0)">
                                        <span class="material-symbols-outlined favorite">favorite</span>
                                    </a>
                                </div>
                                <div><th:span th:text="${#temporals.format(item.music.createAt, 'yyyy-MM-dd HH:mm:ss')}" style="color:black"></th:span></div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-block">
                       
                       



                    </div>

                </div>

            </section>
        </main>

        <footer></footer>
    </div>
    
</body>
</html>