<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- reset.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
    
    <!-- google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
      .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
      }
      </style>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

    <!-- BS5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- common.css -->
    <link rel="stylesheet" href="/css/common.css">

    <!-- /css/album/read.css   -->
    <link rel="stylesheet" href="/css/user/album/read.css">


    <!-- common.js -->
    <script src="/js/common.js" defer></script>

</head>
<body>
    
    <div class="wrapper">
        <div class="top-header layout-5">

            <div class="left">
                <a href="/">
                    <span>CH</span><span>AI</span><span>F</span>
                </a>
            </div>

            <div class="center">
               <ul>
                   <th:block class="top-header-menu" sec:authorize="!isAuthenticated()" >
                       <li class="item">
                           <a href="/login">로그인</a>
                       </li>

                       <li class="item">
                           <a href="/user/join">회원 가입</a>
                       </li>
                   </th:block>



                   <th:block class="" sec:authorize="isAuthenticated()" >
                       <li class="item" style="">
                           <span sec:authentication="principal.username"></span>
                       </li>
                       <li class="item">
                           <form method="post" action="/logout">
                               <input type="submit" value="로그아웃" />
                           </form>
                       </li>
                   </th:block>
                    <li>
                        <a href="">
                            <span class="material-symbols-outlined">MENU</span>
                        </a>
                    </li>
               </ul>
            </div>
            <!-- 
            <div class="right">
                <a href="/index.html">
                   <img src="assets/top-header-left.jpg" alt=""> 
                </a>
            </div>
             -->
        </div>
        <nav class="layout-5">

<!--            -->
<!--            <div class="left">-->
<!--                <span>CH</span><span>AI</span><span>F</span>-->
<!--            </div>-->
<!--            -->

            <div class="right"> 
               <ul class="mainmenu">
                <li>
                    <a href="/user/myinfo">내정보</a>
                </li>
                <li>
                    <a href="/user/album/main">앨범</a>

                </li>
                <li>
                    <a href="javascript:void(0)">즐겨찾기</a>
                </li>
                <li>
                    <a href="javascript:void(0)">갤러리</a>
                </li>
                <li>
                    <a href="javascript:void(0)">그룹</a>
                </li>
               </ul>

            </div>
        </nav>
        <main class="layout-5" >
            <section>

                <div class="read-block" >
                    <div class="info-block">
                        <div class="title" th:text="${images.title}"></div>
                        <div class="date" th:text="${#temporals.format(images.createAt, 'yyyy-MM-dd HH:mm:ss')}"></div>
                        <div class="username" th:text="${images.username}"></div>
                        <div class="mainCategory" th:text="${images.mainCategory}"></div>
                        <div class="subCategory" th:text="${images.subCategory}"></div>
                        <div class="description" th:text="${images.description}"></div>
                    </div>
                    <div class="image-block">

                        <div class="item" th:each="imagesFileInfo : ${filelist}">
                            <div class="btns">
                                <a href="javascript:void(0)" class="btn btn-primary">RANKING 등록</a>
                                <a href="javascript:void(0)" class="btn btn-primary">삭제</a>
                                <a href="javascript:void(0)" class="btn btn-primary">카테고리 변경</a>

                            </div>
                            <div>
                                <th:block  >
                                    <img th:src="@{${imagesFileInfo.dir}+'/'+${imagesFileInfo.filename}}" alt="" />
                                </th:block>
                            </div>
                        </div>
                    </div>

<!--                    <div class="contents-block">-->

<!--                    </div>-->

                </div>

            </section>
        </main>
        <footer></footer>
    </div>
    
</body>
</html>