<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
<!--
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
-->
  <title>Document</title>



  <!--  link   -->
  <th:block th:insert="fragments/link :: linkFragment" />


  <!-- /css/album/main.css -->
  <link rel="stylesheet" href="/css/imageRanking/list.css">


  <!--  MODEL 속성가져오기  -->
  <script th:inline="javascript">
    let  favoriteList = /*[[${ favoriteList}]]*/
    console.log(favoriteList);
    let pageDto = /*[[${pageDto}]]*/
    let listpageDto = /*[[${listpageDto}]]*/
    let mode = /*[[${mode}]]*/
    console.log(pageDto);
    console.log("mode",mode);
  </script>


  <!-- /user/album/main.js -->
  <script src="/js/imageRanking/list.js" defer></script>


</head>
<body>

<div class="wrapper">


  <!-- header   -->
  <th:block th:insert="fragments/header :: headerFragment" />

  <!-- nav       -->
  <th:block th:insert="fragments/nav :: navFragment" />


  <main>
    <section class="layout-5 breadcrumb-block">
      <div class="">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">
                <span class="">홈</span>
              </a>
            </li>
            <li class="breadcrumb-item">
              <a href="/user/album/main">
                <span class="">이달의 콘텐츠 RANKING</span>
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" style="border:0 !important;">전체 음악 랭킹</li>
          </ol>
        </nav>
      </div>
    </section>

    <section>

      <div class="show-block layout-5">

        <div class="main-container">

          <!--
                    <div class="left">
                        <div class="ranking">
                          <div>
                            <h3>RANKING<span th:text="${title}"></span></h3>
                          </div>

                          <table class="table">
                            <thead>
                            <tr>
                              <th>NO</th>
                              <th>TITLE</th>
                              <th>CAT</th>
                              <th>USER</th>
                              <th>조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr th:each="imagesRanking,obj : ${rankingList}">
                                <td th:text="${obj.count}"></td>
                                <td th:text="${imagesRanking.ImagesFileInfo.Images.title}"></td>
                                <td th:text="${imagesRanking.ImagesFileInfo.Images.subCategory}"></td>
                                <td th:text="${imagesRanking.ImagesFileInfo.Images.username}"></td>
                                <td th:text="${imagesRanking.count}"></td>
                              </tr>
                            </tbody>

                            <tfoot></tfoot>
                          </table>
                        </div>
                    </div>
              -->

          <div class="right">
            <div class="btn-group">
              <span class="countOrder active">조회순</span>
              <span class="likeOrder">좋아요순</span>
              <span class="summary">요약보기</span>
            </div>

            <div class="items count-order-block">
              <!-- item             -->
              <div class="item" th:each="imagesRanking,i:${list}">
                <div class="ranking-block">
                    <div class="rank"></div>
                    <div class="bookmark">
                      <a href="javascript:void(0)" class="bookmark_btn" th:data-id="${imagesRanking.rankingId}">
                        <span class="material-symbols-outlined bookmark">bookmark</span>
                      </a>
                    </div>
                </div>

                <div class="image-block">
                  <a th:href="@{/imageRanking/read(rankingId=${imagesRanking.rankingId} )}">
                    <img th:src="@{${imagesRanking.ImagesFileInfo.dir}+'\s_'+${imagesRanking.ImagesFileInfo.filename}}"  alt="" />
                  </a>
                </div>
                <div class="favorite-block" th:data-rankingid="${imagesRanking.rankingId}">
                  <input type="hidden"  />
                  <a href="javascript:void(0)" th:data-imageid="${imagesRanking.rankingId}" class="thumb_up_btn">
                      <span class="material-symbols-outlined favorite">thumb_up</span>&nbsp;
                    <span style="font-size : .8rem;color:black;font-weight:800" class="thumb-up-counter" th:text="${imagesRanking.ilikeit}"></span>
                  </a>
                </div>

                <div class="extra">
                  <!--    -->
                  <div>
                    <div class="title">

                      <div>
                        <span>제목 : </span><span th:text="${imagesRanking.ImagesFileInfo.Images.title}"></span>
                      </div>
                    </div>
                    <div class="count">
                      <span>조회 : </span><span th:text="${imagesRanking.count}"></span>
                    </div>
                  </div>
                    <!--      -->
                    <div class="regdate">
                      <div></div>
                      <div th:text="${#temporals.format(imagesRanking.regDate, 'yyyy-MM-dd')}"></div>
                    </div>

                  <!--    -->
                </div>
              </div>


              <!-- -->
              <div class="paging" >
                <!--  -->
                <div class="pagenation col-9">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">

                      <!-- PREV -->
                      <li class="page-item" th:if="${pageDto.prev}">
                        <a class="page-link" th:href="@{/imageRanking/list(pageNo=${pageDto.nowBlock * pageDto.pagePerBlock - pageDto.pagePerBlock*2 + 1} ,mode=1)}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>

                      <!-- PAGENATION -->
                      <li class="page-item" th:each="i : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}"  >
                        <a class="page-link" th:href="@{/imageRanking/list(pageNo=${i},mode=1)}" > <span th:text="${i}"></span> </a>
                      </li>


                      <!-- NEXT -->
                      <li class="page-item"  th:if="${pageDto.next}">
                        <a class="page-link" th:href="@{/imageRanking/list(pageNo=${pageDto.nowBlock*pageDto.pagePerBlock+1},mode=1 )}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>

                    </ul>
                  </nav>
                </div>
              </div>
              <!-- -->

            </div>

            <!--   좋아요순           -->
            <div class="items like-order-block hidden">

              <!-- item             -->
              <div class="item" th:each="imagesRanking,i:${likelist}">
                <div class="ranking-block">
                  <div class="rank" ></div>
                  <div class="bookmark">
                    <a href="javascript:void(0)" class="bookmark_btn" th:data-id="${imagesRanking.rankingId}">
                      <span class="material-symbols-outlined bookmark">bookmark</span>
                    </a>
                  </div>
                </div>

                <div class="image-block">
                  <a th:href="@{/imageRanking/read(rankingId=${imagesRanking.rankingId})}">
                    <img th:src="@{${imagesRanking.ImagesFileInfo.dir}+'\s_'+${imagesRanking.ImagesFileInfo.filename}}"  alt="" />
                  </a>
                </div>
                <div class="favorite-block" th:data-rankingid="${imagesRanking.rankingId}">
                  <input type="hidden"  />
                  <a href="javascript:void(0)" th:data-imageid="${imagesRanking.rankingId}" class="thumb_up_btn">
                    <span class="material-symbols-outlined favorite">thumb_up</span>&nbsp;
                    <span style="font-size : .8rem;color:black;font-weight:800" class="thumb-up-counter" th:text="${imagesRanking.ilikeit}"></span>
                  </a>
                </div>

                <div class="extra">
                  <!--    -->
                  <div>
                    <div class="title">

                      <div>
                        <span>제목 : </span><span th:text="${imagesRanking.ImagesFileInfo.Images.title}"></span>
                      </div>
                    </div>
                    <div class="count">
                      <span>조회 : </span><span th:text="${imagesRanking.count}"></span>
                    </div>
                  </div>
                  <!--      -->
                  <div class="regdate">
                    <div></div>
                    <div th:text="${#temporals.format(imagesRanking.regDate, 'yyyy-MM-dd')}"></div>
                  </div>

                  <!--    -->
                </div>
              </div>


              <div class="paging" >
                <!--  -->
                <div class="pagenation col-9">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">

                      <!-- PREV -->
                      <li class="page-item" th:if="${pageDto.prev}">
                        <a class="page-link" th:href="@{/imageRanking/list(pageNo=${pageDto.nowBlock * pageDto.pagePerBlock - pageDto.pagePerBlock*2 + 1},mode=2 )}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>

                      <!-- PAGENATION -->
                      <li class="page-item" th:each="i : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}"  >
                        <a class="page-link" th:href="@{/imageRanking/list(pageNo=${i},mode=2)}" > <span th:text="${i}"></span> </a>
                      </li>


                      <!-- NEXT -->
                      <li class="page-item"  th:if="${pageDto.next}">
                        <a class="page-link" th:href="@{/imageRanking/list(pageNo=${pageDto.nowBlock*pageDto.pagePerBlock+1},mode=2 )}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>

                    </ul>
                  </nav>
                </div>
              </div>

            </div>

            <!-- 요약 하기 -->
            <div class="items summary-block hidden">
              <div class="item">
                <h4 style="">조회순 RANKING</h4>
                <hr>
                <table class="table w-100">

                  <thead>
                  <tr>
                    <th>순위</th>
                    <th>이미지</th>
                    <th >제목</th>
                    <th>CAT</th>
                    <th>계정</th>
                    <th >조회수</th>
                    <th>좋아요</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="imagesRanking,obj : ${rankingList}">
                    <td th:text="${obj.count}"></td>
                    <td>
                      <img th:src="@{${imagesRanking.ImagesFileInfo.dir}+'\s_'+${imagesRanking.ImagesFileInfo.filename}}"  alt="" style="width:100px;height:50px;" />
                    </td>
                    <td style="" th:text="${imagesRanking.ImagesFileInfo.Images.title}"></td>
                    <td th:text="${imagesRanking.ImagesFileInfo.Images.subCategory}"></td>
                    <td th:text="${imagesRanking.ImagesFileInfo.Images.username}"></td>
                    <td th:text="${imagesRanking.count}"></td>
                    <td th:text="${imagesRanking.ilikeit}"></td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="item">
                <h4 style="">좋아요순 RANKING</h4>
                <hr>
                <table class="table w-100">
                  <thead>
                  <tr>
                    <th>순위</th>
                    <th>이미지</th>
                    <th >제목</th>
                    <th>CAT</th>
                    <th>계정</th>
                    <th >조회수</th>
                    <th>좋아요</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="imagesRanking,obj : ${rankingLikeList}">
                    <td th:text="${obj.count}"></td>
                    <td>
                      <img th:src="@{${imagesRanking.ImagesFileInfo.dir}+'\s_'+${imagesRanking.ImagesFileInfo.filename}}"  alt="" style="width:100px;height:50px;" />
                    </td>
                    <td th:text="${imagesRanking.ImagesFileInfo.Images.title}"></td>
                    <td th:text="${imagesRanking.ImagesFileInfo.Images.subCategory}"></td>
                    <td th:text="${imagesRanking.ImagesFileInfo.Images.username}"></td>
                    <td th:text="${imagesRanking.count}"></td>
                    <td th:text="${imagesRanking.ilikeit}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>


          </div>


        </div>

        <div class="footer-block">
          <div class="left">
          </div>
        </div>

      </div>

    </section>

  </main>

  <!-- Footer        -->
  <footer>
    <th:block th:insert="fragments/footer :: footerFragment" />
  </footer>
</div>

</body>
</html>