<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
-->


    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />


    <!-- /css/album/read.css   -->
    <link rel="stylesheet" href="/css/imageRanking/read.css">

    <script src="/js/imageRanking/read.js" defer></script>
</head>
<body>
    
    <div class="wrapper">


        <!-- header   -->
        <th:block th:insert="fragments/header :: headerFragment" />

        <!-- nav       -->
        <th:block th:insert="fragments/nav :: navFragment" />


        <section class="layout-5 breadcrumb-block">
            <div class="">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">홈</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">이달의 콘텐츠 RANKING</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">전체 이미지 랭킹</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">읽기</li>
                    </ol>
                </nav>
            </div>
        </section>
        <main class="" >
            <section>
                <div class="read-block layout-5" >
                    <div class="info-block">


                        <table class="table">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td style="width:200px;background-color:darkcyan;color:white;" >제목</td>
                                    <td class="title"  th:text="${imagesRanking.ImagesFileInfo.Images.title}" style="width:500px;"></td>
                                    <td  style="width:200px;background-color:darkcyan;color:white;" >등록날짜</td>
                                    <td class="date" th:text="${#temporals.format(imagesRanking.ImagesFileInfo.Images.createAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                </tr>
                                <tr>
                                    <td style="background-color:darkcyan;color:white;">소유자 계정</td>
                                    <td  class="username" th:text="${imagesRanking.ImagesFileInfo.Images.username}" colspan="3"></td>
                                </tr>
                                <tr>
                                    <td style="background-color:darkcyan;color:white;">기본 카테고리</td>
                                    <td  class="mainCategory" th:text="${imagesRanking.ImagesFileInfo.Images.mainCategory}"></td>
                                    <td style="background-color:darkcyan;color:white;">세부 카테고리</td>
                                    <td class="subCategory" th:text="${imagesRanking.ImagesFileInfo.Images.subCategory}"></td>
                                </tr>
                                <tr>
                                    <td style="background-color:darkcyan;color:white;">설명</td>
                                    <td class="description" th:text="${imagesRanking.ImagesFileInfo.Images.description}"  colspan="3"></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="btns" style="text-align:right;">
                                        <a href="javascript:history.go(-1)" class="btn  addRanking" style="background-color:darkcyan;color:white;">
                                            <span class="material-symbols-outlined" style="font-size:.8rem;">logout</span>
                                        </a>
                                        <a href="javascript:void(0)" class="btn  thumb_up_btn"  style="background-color:darkcyan;color:white;" th:data-imageid="${imagesRanking.rankingId}">
                                            <span class="material-symbols-outlined" style="font-size:.8rem;">thumb_up</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="images">
                                    <td colspan="4" style="text-align:center">
                                        <img th:src="@{${imagesRanking.ImagesFileInfo.dir}+'/'+${imagesRanking.ImagesFileInfo.filename}}" alt="" style="object-fit:contain;max-width:800px;max-height:800px;" />
                                    </td>
                                </tr>
                           </tbody>
                        </table>


                    </div>
                    <div class="image-block " >
                    </div>
                </div>

            </section>
        </main>
        <footer></footer>
    </div>
    
</body>
</html>