<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
-->
    <title>Document</title>


    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />


    <!-- /css/album/read.css   -->
    <link rel="stylesheet" href="/css/imageRanking/read.css">

    <script src="/js/imageRanking/read.js" defer></script>
</head>
<body>
    
    <div class="wrapper">


        <!-- header   -->
        <th:block th:insert="fragments/header :: headerFragment" />

        <!-- nav       -->
        <th:block th:insert="fragments/nav :: navFragment" />


        <section class="layout-5 breadcrumb-block">
            <div class="">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">홈</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">이달의 콘텐츠 RANKING</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">전체 이미지 랭킹</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">읽기</li>
                    </ol>
                </nav>
            </div>
        </section>
        <main class="" >


            <section>

                <div class="read-block layout-5" >
                    <div class="info-block">
                        <table class="table">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td style="width:200px;" >제목</td>
                                    <td class="title"  th:text="${imagesRanking.ImagesFileInfo.Images.title}" style="width:500px;"></td>
                                    <td  style="width:200px;" >등록날짜</td>
                                    <td class="date" th:text="${#temporals.format(imagesRanking.ImagesFileInfo.Images.createAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                </tr>
                                <tr>
                                    <td>소유자 계정</td>
                                    <td  class="username" th:text="${imagesRanking.ImagesFileInfo.Images.username}" colspan="3"></td>
                                </tr>
                                <tr>
                                    <td>기본 카테고리</td>
                                    <td  class="mainCategory" th:text="${imagesRanking.ImagesFileInfo.Images.mainCategory}"></td>
                                    <td>세부 카테고리</td>
                                    <td class="subCategory" th:text="${imagesRanking.ImagesFileInfo.Images.subCategory}"></td>
                                </tr>
                                <tr>
                                    <td>설명</td>
                                    <td class="description" th:text="${imagesRanking.ImagesFileInfo.Images.description}"  colspan="3"></td>
                                </tr>
                           </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                    <div class="image-block " >

                        <div class="item" >
                            <div class="btns">
                                <a href="javascript:history.go(-1)" class="btn btn-primary addRanking">이전으로</a>
                                <a href="javascript:void(0)" class="btn btn-primary thumb_up_btn" th:data-imageid="${imagesRanking.rankingId}">
                                    <span class="material-symbols-outlined" style="font-size:1rem;">thumb_up</span>
                                </a>

                            </div>
                            <div class="images">
                                <th:block  >
                                    <img th:src="@{${imagesRanking.ImagesFileInfo.dir}+'/'+${imagesRanking.ImagesFileInfo.filename}}" alt="" />
                                </th:block>
                            </div>
                        </div>
                    </div>

<!--                    <div class="contents-block">-->

<!--                    </div>-->

                </div>

            </section>
        </main>
        <footer></footer>
    </div>
    
</body>
</html>