<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
-->


    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />


    <!-- /css/album/read.css   -->
    <link rel="stylesheet" href="/css/imageRanking/read.css">

    <script src="/js/imageRanking/read.js" defer></script>

    <script th:inline="javascript">
        const imageId = [[${imagesRanking.ImagesFileInfo.Images.iamgeid}]]
        console.log("imageId",imageId);
    </script>
</head>
<body>
    
    <div class="wrapper">


        <!-- header   -->
        <th:block th:insert="fragments/header :: headerFragment" />

        <!-- nav       -->
        <th:block th:insert="fragments/nav :: navFragment" />


        <section class="layout-5 breadcrumb-block">
            <div class="">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">홈</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">이달의 콘텐츠 RANKING</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">전체 이미지 랭킹</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">읽기</li>
                    </ol>
                </nav>
            </div>
        </section>
        <main class="" >
            <section>
                <h2 class="title"  th:text="${imagesRanking.ImagesFileInfo.Images.title}" ></h2>
                <div class="read-block" >
                    <div class="cancel">
                        <a href="javascript:history.back()">
                            <span class="material-symbols-outlined" style="color:white;">arrow_back</span>
                        </a>
                    </div>
                    <div class="image-block" >
                        <div class="bg">

           <!--                 <div>A</div>
                            <div>A</div>
                            <div>A</div>-->

                        </div>
                        <img th:src="@{${imagesRanking.ImagesFileInfo.dir}+'/'+${imagesRanking.ImagesFileInfo.filename}}" alt="" style="object-fit:contain;max-width:800px;max-height:800px;" />
                    </div>
                    <div class="info-block">
                        <div>
                            <h5>
                                <span class="material-symbols-outlined">person</span>
                                <span th:text="${imagesRanking.ImagesFileInfo.Images.username}"></span>
                            </h5>
                        </div>
                        <hr>
                        <div>
                            <div class="mb-2">설명 : </div>
                            <div style="p-2 w-100">
                                <textarea readonly class="w-100"  style="height : 100px;background-color:rgb(25,25,25);color :gray;" th:text="${imagesRanking.ImagesFileInfo.Images.description}"></textarea>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div>정보 : </div>
                            <div>
                                <table class="table mt-2" style="text-align:center;font-size : .7rem;">
                                    <tr>
                                        <td >세부 카테고리</td>
                                        <td>사이즈(가로x세로)</td>
                                        <td >파일 크기</td>
                                        <td >등록 날짜</td>
                                    </tr>
                                    <tr>
                                        <td class="text-secondary" th:text="${imagesRanking.ImagesFileInfo.Images.subCategory}"></td>
                                        <td class="text-secondary" ><span th:text="${imagesRanking.ImagesFileInfo.width}"></span> x <span th:text="${imagesRanking.ImagesFileInfo.height}"></span></td>
                                        <td class="text-secondary" ><span th:text="${#numbers.formatInteger(imagesRanking.ImagesFileInfo.fileSize/1024, 3, 'COMMA')} "></span> <span> K</span></td>
                                        <td class="text-secondary" th:text="${#temporals.format(imagesRanking.ImagesFileInfo.Images.createAt, 'yyyy-MM-dd')}"></td>
                                    </tr>
                                </table>
                            </div>
                            <hr>
                            <div>
                                <div class="mb-2">생성도구 : </div>
                                <div class="text-secondary"  style="font-size : .8rem;" th:text="${imagesRanking.ImagesFileInfo.tool}">>

                                </div>
                            </div>
                            <hr>
                            <div class="thumb-up-visibility mb-3">
                                <div>
                                    <span class="material-symbols-outlined">thumb_up</span>&nbsp;
                                    <span  th:text="${imagesRanking.ilikeit}"></span>
                                </div>
                                &nbsp;&nbsp;
                                <div>
                                    <span class="material-symbols-outlined">visibility</span>&nbsp;
                                    <span  th:text="${imagesRanking.count}"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="thumb_up_bookmark">
                                <a href="javascript:void(0)" class="btn btn-primary thumb_up_btn"  style="" th:data-imageid="${imagesRanking.rankingId}">
                                    <span class="material-symbols-outlined" style="font-size:.8rem;">thumb_up</span>
                                    <span style="font-size:.8rem;"> 좋아요</span>
                                </a>
                                <a href="javascript:void(0)" class="btn  btn-primary bookmark_btn"  style="" th:data-imageid="${imagesRanking.rankingId}">
                                    <span class="material-symbols-outlined" style="font-size:.8rem;">bookmark</span>
                                    <span style="font-size:.8rem;"> 즐겨찾기에 추가</span>
                                </a>
                            </div>
                            <!--           REPLY                 -->
                            <hr>
                            <div class="reply-block">
                                <input type="text" name="relpy" class="reply" placeholder="댓글을 입력하세요.">
                                <span  class="material-symbols-outlined reply-icon">send</span>
                            </div>
                            <br>
                            <div th:if="${total} != 0">
                                댓글 : <span class="reply-total" th:text="${total}"></span>
                            </div>
                            <span th:if="${total} != 0" style="margin : 15px 0 ;display:block;border : 1px solid rgb(35,35,35); width : 50%;"></span>
                            <div class="contents">


                                <div class="item" th:each="imageReply : ${replyList}">
                                    <div class="left">
                                        <img th:src="@{${imageReply.user.profileImage}}" alt="">
                                    </div>
                                    <div class="right">
                                        <div class="one">
                                            <span class="user" th:text="${imageReply.user.username}"></span>
                                            <div th:text="${#temporals.format(imageReply.date, 'yyyy-MM-dd HH:mm:ss')}"></div>
                                        </div>
                                        <div class="two">
                                            <textarea class="context" readonly th:text="${imageReply.context}"></textarea>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                </div>

            </section>
        </main>
        <footer></footer>
    </div>
    
</body>
</html>