.title{

}

.edu-section{
    position:relative;
}
.admin-menu{
    position:absolute;
    top:20px;
    right:0px;

    display:flex;
    justify-content: right;
    align-items : start;

}
.breadcrumb a{
    color : gray;
}
.show-block{
    display:flex;
    justify-content:space-between;
    align-items : start;
}
.accordion-button{
    background-color : rgb(25,25,25);
}
.collapse.show{

    background-color:gray;
}

.show-block .left{
    width: calc(100% - 320px);
    position:relative;
    border-right:1px solid gray;

}
.accordion-header{
    border ; 0;
    outline : 0;
}

.accordion-header button{
    font-size : .8rem;
    background-color:rgb(45,45,45);
    color : lightgray;
    border : 0;
    outline : 0;
    height : 45px;

}
.show-block .right{
    width:300px;
    height : 800px;

    padding : 10px;
    border-left : 1px solid gray;
}

.left .accordion-body{
    display:flex;
    justify-content: center;
    align-items : center;
}
.accordion-button {
    padding-left:0 !important;
    font-weight:400;
    font-size:1.5rem;
}
.accordion-item .accordion-header{

}
.accordion-item{

}
.accordion-header{
}
.accordion-header button{
    padding-left : 15px !important;
}


.admin-menu a{
    font-size : .8rem;
}

td,th {
    font-size:.8rem !important;
}
td,th a{
    font-size:.8rem !important;
}
.m-2 label{
    font-size : .8rem !important;
}
modal a{
    font-size : .8rem !important;
}
.modal-footer button{
    font-size : .8rem !important;
}
modal input {
    font-size : .8rem !important;
}
.description{
    border : 1px solid gray !important;
}
.modal {
    color : gray;
}