<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--  link   -->
    <th:block th:insert="fragments/link :: linkFragment" />

    <link rel="stylesheet" href="/css/user/myinfo.css">



</head>
<body>


<div class="wrapper">

    <!-- header   -->
    <th:block th:insert="fragments/header :: headerFragment" />

    <!-- nav       -->
    <th:block th:insert="~{fragments/nav :: albumNavFragment}" />



    <main>

        <section class="layout-5 breadcrumb-block">
            <div class="">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="material-symbols-outlined">home</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/">
                                <span class="">MY INFO</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">TRADING</li>
                    </ol>
                </nav>
            </div>
        </section>

        <section class="myinfoblock layout-5">

            <th:block th:insert="fragments/myaside :: myasideFragment" />

            <div class="join_block">
                <div >



                    <!--승인된 Trading에 가격 요청-->
                    <table class="table w-100" style="font-size :.7rem;">
                        <thead>
                            <th>번호</th>
                            <th>이미지</th>
                            <th>관리자승인여부</th>
                            <th>경매시작일</th>
                            <th>경매종료일</th>
                            <th>신청인원</th>
                            <th>낙찰가</th>
                            <th>구매자</th>
                            <th>상태</th>
                            <th>취소</th>
                        </thead>
                        <tbody style="font-size :.7rem;">

                            <th:block th:each="dto : ${list}">
<!--                                <div th:text="${dto}"></div>-->
                                <tr>
                                    <td th:text="${dto.tradingid}"></td>
                                    <td>
                                        <a href="javascript:void(0)">
                                              <img  style="width:100px;height:50px;" th:src="@{${dto.fileid.dir}+'\s_'+${dto.fileid.filename}}"  alt="" />
                                        </a>
                                    </td>
                                    <td th:text="${dto.adminAccepted}?'승인':'미승인'"></td>
                                    <td th:text="${dto.auctionStartTime}"></td>
                                    <td th:text="${dto.auctionEndTime}"></td>
                                    <td th:text="${dto.cur}"></td>
                                    <td th:text="${dto.price} eq null?'0':${dto.price}"></td>
                                    <td th:text="${dto.buyer}==null?'미정':${dto.buyer.username}"></td>
                                    <td th:text="${dto.status}"></td>
                                    <td><a th:href="@{/user/myinfo/trading/del(tradingid=${dto.tradingid})}" class="btn btn-secondary" style="font-size :.7rem;">취소</a></td>
                                </tr>
                            </th:block>

                        </tbody>



                    </table>

                </div>
            </div>
        </section>
    </main>

    <footer>
        <th:block th:insert="fragments/footer :: footerFragment" />
    </footer>

</div>





</body>
</html>