.fc-daygrid-day-number{
    color : gray;
}
.fc-daygrid-event-harness{
    background-color : gray;
    margin : 2px;
}

.fc-event-time,
.fc-event-title{
    font-size: .7em;
}
th{
    background-color: darkcyan;

}
th a{
    color : lightgray ;
}
td{
    background-color : transparent;
    color : lightgray ;
}

.fc-day-today .fc-daygrid-day-frame{
    background-color:lightgray;
    color : gray;
}

.modal *{
    color : lightgray;

}