/*  */

section.content_block{}
section.group-block>.head{
    height : 50px;
    display:flex;
    align-items : center;
    justify-content : left;
    position:relative;
    color : gray;
}
section.group-block>.head>*{

    height : 100%;
    display:flex;
    align-items : center;
    justify-content : center;
    padding : 20px;
    border : 1px solid gray;
    opacity : 8;
}
section.group-block>.head>*:nth-child(1){
    border-radius : 5px 0 0 0 ;
}
section.group-block>.head>*:nth-child(2){
    border-radius : 0 5px 0 0 ;
}
section.group-block>.head>.line{
    position:absolute;
    left:0;
    bottom:0;
    padding : 0;
    width : 100%;
    height : 0px;
    border-top : 1px solid gray;


}

section.group-block>.head>* input{
    display:none;
}
section.group-block>.head>* label{
    display:flex;
    width : 100%;
    height : 100%;
    align-items : center;
    justify-content : center;
    cursor : pointer;
    font-size :1rem;

    background-color: #0a0b17 ;
    color : white;
    opacity : .6;

}
section.group-block>.head>*:nth-child(1) label{
    opacity : 1;
}

section.group-block>.head>* label:hover{
    opacity : 1;
}

.hidden{
    display:none !important;
}


section.group-block>.body{

}

section.group-block>.body>.image_body,
section.group-block>.body>.music_body{


    display:flex;
    justify-content : space-evenly;
    align-items : start;
    /*border : 1px solid darkcyan;*/
    border-top : 0px;
    flex-direction:column;
}

/**/

section.group-block .body{}
section.group-block .body swiper-wrapper{
   display:flex !important;
   justify-content : left !important;
   align-items : center !important;
   text-align:center;

}
section.group-block .body .swiper{
    height : 100px;
    width : 100%;
}
section.group-block .body .swiper-wrapper{
    height : 100px;
    width : 100%;
    position:relative;
    left:0px;
    top : 0px;

    transition:.5s;

    display:flex;
    justify-content :  space-between;
    align-items : center;
}
section.group-block .body .swiper-wrapper .swiper-slide{
    width : 7.813vw;
    height : 55px;
    display:flex;
    justify-content : center;
    align-items : center;
    margin : 10px;
    text-align:center;
    background-color:black;
}
section.group-block .body .swiper-wrapper .swiper-slide:first-child{
    margin-left:0;
}
section.group-block .body .swiper-wrapper .swiper-slide:last-child{
    margin-right:0;
}

section.group-block .body .swiper-wrapper .swiper-slide a{
    display:block;
    width : 7.813vw;
    height : 55px;
    border : 1px solid;
    border-radius:5px;
    display:flex;
    justify-content : center;
    align-items : center;
    font-size : 1vw;;
}
section.group-block .body .swiper-wrapper .swiper-slide a:hover{
    background-color:gray;
    color:white;
}
section .active{
    background-color:gray;
    color:white;
}

section.group-block .body .swiper {
    position:relative;
}
section.group-block .body .swiper .swiper-button-prev,
section.group-block .body .swiper .swiper-button-next{
    position:absolute;

    top:43%;
    color : royalblue;
    width : 35px;
    height: 35px;
    border : 1px solid;
    border-radius:50%;
    padding : 2px;
    font-size : 3rem;
    background-color : white;
}
section.group-block .body .swiper .swiper-button-prev{
    left :61.5vw;
}
section.group-block .body .swiper .swiper-button-next{
    left : 63.5vw;
}

section.group-block .body .swiper .swiper-button-prev::after,
section.group-block .body .swiper .swiper-button-next::after{
    content : '';
}
.subCategoryBody{
    width : 100%;

}

.table{
    font-size : .8rem;
}

.show-block {
    display:flex;
    justify-content : left;
    align-items : start;
    gap : 20px;
    padding-top:20px;
    flex-wrap : wrap;
}
.show-image-block{
    width : calc(20% - 20px);
    height : 100%;
    overflow : hidden;
}
.show-image-block img{
    width : 100%;
    height : 100%;
    max-height : 300px;
    object-fit:contain;
    transition : .2s;
}
.show-image-block img:hover{
    transform: scale(1.2);
}