
.wrapper>header{

}
.wrapper>header>.top-header{}
.wrapper>header>nav{

}

.wrapper>main{

}
.wrapper>main>section{}

.wrapper>footer{}

tr,
td,
th
{
    border :0;
    background-color : transparent;
}

td,
th{
    padding : 10px !important;
}
th{
    background-color :darkcyan !important;
    color:lightgray !important;
}

.board-footer.position-relative{
    display:flex !important;
    justify-content: space-between ;
    align-items : center ;
    width : 100%;

}
.board-body .title{
    text-decoration : underline;
    color : lightgray;
}
.board-footer .button--group button,
.board-footer .button--group a
{
    background-color :darkcyan;
    color : lightgray;
}
.pagenation a{
    background-color : rgb(35,35,35);
    color : lightgray;
}